<div class="serch">
    <!-- serch begin -->
    <form id="searchForm">
    <div class="serch_main">
        <div class="serch_conts">
            <dl>
                <dt>申请编号：</dt>
                <dd><input type="text" name="applyCode" class="defaultInput" /></dd>
            </dl>
            <dl>
                <dt>处理状态：</dt>
                <dd>
                    <div class="select w190" style="z-index: 0;">
                        <input index-data="" type="hidden" name="status">
                        <i index-data="">全部</i>
                        <em class="icon-52"></em>
                        <ul style="display: none;">
                            <li index-data=""><span>全部</span></li>
                            {{each(i,c) getConstName("OwmsRefundApplyStatusEnum")}}
                            <li index-data="${i}"><span>${c}</span></li>
                            {{/each}}
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>退款金额：</dt>
                <dd>
                    <div class="defaultPrice">
                        <input type="text" value="" class="priceBegin a1" name="refundAmount" data-operator="ge" pattern="^([1-9]\d{0,9}|0)(\.\d{1,2})?$"/>
                        <span class="point"></span>
                        <input type="text" value="" class="priceEnd a1"  name="refundAmount"  data-operator="le" pattern="^([1-9]\d{0,9}|0)(\.\d{1,2})?$"/>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="serch_conts">
            <dl>
                <dt>申请时间：</dt>
                <dd>
                    <div class="defaultData">
                        <div class="dataBegin">
                            <span class="dateInput" id="startTime" name="applyTime" data-operator="ge"></span>
                            <a href="javascript:;" class="timeStart icon-54"></a>
                        </div>
                        <span class="point"></span>
                        <div class="dataEnd">
                            <span class="dateInput" id="endTime" name="applyTime" data-operator="le"></span>
                            <a href="javascript:;" class="timeEnd icon-54"></a>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="serchDl">
                <dt></dt>
                <dd>
                    <a href="javascript:;" class="button js-search">Search</a>
                </dd>
            </dl>
        </div>
    </div>
    </form>
    <em class="mL50 none">您所搜索的，共有<i id='searchTotalCount'>${source.totalCount}</i>条内容符合。</em>
    <!-- serch end -->

</div>
<div class="contsBox">
    <div class="bigTable">
        <table class="" border="0" cellspacing="0" >
            <thead>
            <tr>
                <th>申请编号</th>
                <th>申请时间</th>
                <th>处理状态</th>
                <th>退款金额</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="listCon"></tbody>
        </table>
    </div>
    <div class="page" id="topPager"></div>
</div>
<script id='pageListTmpl' type='text/x-jquery-tmpl'>
    <a href="javascript:;" class="firstPage fL" data-displace="first">首页</a>
    <a href="javascript:;" class="prve fL icon-56" data-displace="prev"></a>
    <ul class="pagenumber" id="pager"></ul>
    <a href="javascript:;" class="next fL icon-55" data-displace="next"></a>
    <a href="javascript:;" class="lastPage" data-displace="last">尾页</a>

</script>
<script id="listTmpl" type="text/x-jquery-tmpl">
    _[{if list.length}]_
    _[{each(i,c) list}]_
    <tr>
        <td>$_[c.applyCode]_</td>
        <td>$_[c.applyTime]_</td>
        <td>$_[getConstName("OwmsRefundApplyStatusEnum",c.status)]__[{if c.status==4}]_<a href="javascript:;" class="blue mL10 js-reason" data-reason="$_[c.rejectInfo]_">驳回原因</a>_[{/if}]_</td>
        <td>_[{if status==3}]_$_[c.refundAmount]_ CNY _[{else}]_ -- _[{/if}]_</td>
        <td>
        _[{if operateData.moduleData && operateData.actionData && operateData.operate['HWC20203004']}]_
            <a class="blue mR10" data-href="?m=xhr_id_20200000_20203000_view&id=$_[c.id]_" data-title="海外仓财务管理-退款管理-退款申请详情">详情</a>
            _[{/if}]_
            _[{if c.status==1 || c.status==2}]_
            _[{if operateData.moduleData && operateData.actionData && operateData.operate['HWC20203002']}]_
            <a class="blue mR10 js-reject" href="javascript:;" data-id="$_[c.id]_">驳回</a>
            _[{/if}]_
            _[{/if}]_
            _[{if c.status==1}]_
            _[{if operateData.moduleData && operateData.actionData && operateData.operate['HWC20203001']}]_
            <a class="blue js-accept" href="javascript:;" data-id="$_[c.id]_" data-uid="$_[c.userId]_">受理</a>
            _[{/if}]_
            _[{/if}]_
            _[{if c.status==2}]_
            _[{if operateData.moduleData && operateData.actionData && operateData.operate['HWC20203003']}]_
            <a class="blue" data-href="?m=xhr_id_20200000_20203000_refund&id=$_[c.id]_&uid=$_[c.userId]_" data-title="海外仓系统管理-退款管理-退款">退款</a>
            _[{/if}]_
            _[{/if}]_
        </td>
    </tr>
    _[{/each}]_
        _[{else}]_
        <tr>
            <td colspan="5">暂无数据</td>
        </tr>
    _[{/if}]_
</script>
<!-- 驳回 -->
<script id='rejectReasonTmpl' type='text/x-jquery-tmpl'>
<form id="rejectForm">
    <div class="mL70 mT20">
        <textarea class="textarea w390 h140" placeholder="驳回原因最多250个字" data-cnmax="250" name="rejectInfo"></textarea>
    </div>
</form>
</script>
