<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>小笨鸟字体图标库</title>
	<meta name="description" content="小笨鸟字体图标库">
	<link rel="stylesheet" href="css/style.css">
	<style>
		body {
			padding: 0;
			margin: 0;
			font-family: sans-serif;
			font-size: 1em;
			line-height: 1.5;
			color: #555;
			background: #fff;
			min-width: 800px
		}
		h1 {
			font-size: 1.5em;
			font-weight: normal;
		}
		small {
			font-size: .66666667em;
		}
		a {
			color: #e74c3c;
			text-decoration: none;
		}
		a:hover, a:focus {
			box-shadow: 0 1px #e74c3c;
		}
		.bshadow0, input {
			box-shadow: inset 0 -2px #e7e7e7;
		}
		input:hover {
			box-shadow: inset 0 -2px #ccc;
		}
		input, fieldset {
			font-size: 1em;
			margin: 0;
			padding: 0;
			border: 0;
		}
		input {
			color: inherit;
			line-height: 1.5;
			height: 1.5em;
			padding: .25em 0;
		}
		input:focus {
			outline: none;
			box-shadow: inset 0 -2px #449fdb;
		}
		.glyph {
			font-size: 16px;
			width: 28.33%;
			padding-bottom: 1em;
			margin-right: 5%;
			margin-bottom: 1em;
			float: left;
			overflow: hidden;
		}
		.liga {
			width: 80%;
			width: calc(100% - 2.5em);
		}
		.talign-right {
			text-align: right;
			font-family: "xbniao"
		}
		.talign-center {
			text-align: center;
		}
		.bgc1 {
			background: #f1f1f1;
		}
		.fgc1 {
			color: #999;
		}
		h1.fgc1 span{
			font-size: 14px;
			color: #333;
		}
		.fgc0 {
			color: #000;
		}
		p {
			margin-top: 1em;
			margin-bottom: 1em;
		}
		.mvm {
			margin-top: .75em;
			margin-bottom: .75em;
		}
		.mtn {
			margin-top: 0;
		}
		.mtl, .mal {
			margin-top: 1.5em;
		}
		.mbl, .mal {
			margin-bottom: 1.5em;
		}
		.mal, .mhl {
			margin-left: 1.5em;
			margin-right: 1.5em;
		}
		.mhmm {
			margin-left: 1em;
			margin-right: 1em;
		}
		.mls {
			margin-left: .25em;
		}
		.ptl {
			padding-top: 1.5em;
		}
		.pbs, .pvs {
			padding-bottom: .25em;
		}
		.pvs, .pts {
			padding-top: .25em;
		}
		.unit {
			float: left;
		}
		.unitRight {
			float: right;
		}
		.size1of2 {
			width: 50%;
		}
		.size1of1 {
			width: 100%;
		}
		.clearfix:before, .clearfix:after {
			content: " ";
			display: table;
		}
		.clearfix:after {
			clear: both;
		}
		.hidden-true {
			display: none;
		}
		.textbox0 {
			width: 3em;
			background: #f1f1f1;
			padding: .25em .5em;
			line-height: 1.5;
			height: 1.5em;
		}
		#testDrive {
			display: block;
			padding-top: 24px;
			line-height: 1.5;
		}
		.fs0 {
			font-size: 16px;
		}
		.fs1 {
			font-size: 32px;
		}

	</style>
</head>
<body>
<div class="bgc1 clearfix">
	<h1 class="mhmm mvm"><span class="fgc1">字体名称：</span>xbniao</h1>
</div>
<div class="clearfix mhl ptl">
	<h1 class="mvm mtn fgc1">
		使用说明：<br />
		<span>1.class使用，在所需要的标签上直接加入class即可；注：class版不兼容ie7，建议使用icon标识</span><br />
		<span>2.icon标识使用，需在所需要的标签加入font-family="xbniao"属性，在标签内写入"&#x" + "icon标识" + ";"即可。</span>
	</h1>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-1">
				
				</span>
			<span class="mls"> icon-1</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e600" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe600;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-2">
				
				</span>
			<span class="mls"> icon-2</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e601" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe601;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-3">
				
				</span>
			<span class="mls"> icon-3</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e602" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe602;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-4">
				
				</span>
			<span class="mls"> icon-4</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e603" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe603;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-5">
				
				</span>
			<span class="mls"> icon-5</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e604" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe604;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-6">
				
				</span>
			<span class="mls"> icon-6</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e605" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe605;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-7">
				
				</span>
			<span class="mls"> icon-7</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e606" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe606;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-8">
				
				</span>
			<span class="mls"> icon-8</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e607" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe607;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-9">
				
				</span>
			<span class="mls"> icon-9</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e608" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe608;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-10">
				
				</span>
			<span class="mls"> icon-10</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e609" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe609;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-11">
				
				</span>
			<span class="mls"> icon-11</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e60a" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe60a;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-12">
				
				</span>
			<span class="mls"> icon-12</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e60b" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe60b;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-13">
				
				</span>
			<span class="mls"> icon-13</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e60c" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe60c;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-14">
				
				</span>
			<span class="mls"> icon-14</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e60d" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe60d;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-15">
				
				</span>
			<span class="mls"> icon-15</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e60e" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe60e;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-16">
				
				</span>
			<span class="mls"> icon-16</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e60f" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe60f;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-17">
				
				</span>
			<span class="mls"> icon-17</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e610" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe610;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-18">
				
				</span>
			<span class="mls"> icon-18</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e611" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe611;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-19">
				
				</span>
			<span class="mls"> icon-19</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e612" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe612;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-20">
				
				</span>
			<span class="mls"> icon-20</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e613" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe613;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-21">
				
				</span>
			<span class="mls"> icon-21</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e614" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe614;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-22">
				
				</span>
			<span class="mls"> icon-22</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e615" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe615;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-23">
				
				</span>
			<span class="mls"> icon-23</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e616" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe616;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-24">
				
				</span>
			<span class="mls"> icon-24</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e617" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe617;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-25">
				
				</span>
			<span class="mls"> icon-25</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e618" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe618;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-26">
				
				</span>
			<span class="mls"> icon-26</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e619" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe619;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-27">
				
				</span>
			<span class="mls"> icon-27</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e61a" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe61a;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-28">
				
				</span>
			<span class="mls"> icon-28</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e61b" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe61b;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-29">
				
				</span>
			<span class="mls"> icon-29</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e61c" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe61c;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-30">
				
				</span>
			<span class="mls"> icon-30</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e61d" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe61d;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-31">
				
				</span>
			<span class="mls"> icon-31</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e61e" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe61e;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-32">
				
				</span>
			<span class="mls"> icon-32</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e61f" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe61f;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-33">
				
				</span>
			<span class="mls"> icon-33</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e620" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe620;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-34">
				
				</span>
			<span class="mls"> icon-34</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e621" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe621;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-35">
				
				</span>
			<span class="mls"> icon-35</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e622" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe622;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-36">
				
				</span>
			<span class="mls"> icon-36</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e623" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe623;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-37">
				
				</span>
			<span class="mls"> icon-37</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e624" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe624;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-38">
				
				</span>
			<span class="mls"> icon-38</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e625" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe625;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-39">
				
				</span>
			<span class="mls"> icon-39</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e626" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe626;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-40">
				
				</span>
			<span class="mls"> icon-40</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e627" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe627;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-41">
				
				</span>
			<span class="mls"> icon-41</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e628" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe628;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-42">
				
				</span>
			<span class="mls"> icon-42</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e629" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe629;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-43">
				
				</span>
			<span class="mls"> icon-43</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e62a" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe62a;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-44">
				
				</span>
			<span class="mls"> icon-44</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e62b" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe62b;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-45">
				
				</span>
			<span class="mls"> icon-45</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e62c" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe62c;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-46">
				
				</span>
			<span class="mls"> icon-46</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e62d" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe62d;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-47">
				
				</span>
			<span class="mls"> icon-47</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e62e" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe62e;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-48">
				
				</span>
			<span class="mls"> icon-48</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e62f" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe62f;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-49">
				
				</span>
			<span class="mls"> icon-49</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e630" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe630;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-50">
				
				</span>
			<span class="mls"> icon-50</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e631" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe631;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-51">
				
				</span>
			<span class="mls"> icon-51</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e632" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe632;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-52">

				</span>
			<span class="mls"> icon-52</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e633" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe633;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-53">

				</span>
			<span class="mls"> icon-53</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e633" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe633;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-54">

				</span>
			<span class="mls"> icon-54</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e635" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe635;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-55">

				</span>
			<span class="mls"> icon-55</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e636" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe636;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
	<div class="glyph fs1">
		<div class="clearfix bshadow0 pbs">
				<span class="icon-56">

				</span>
			<span class="mls"> icon-56</span>
		</div>
		<fieldset class="fs0 size1of1 clearfix">
			<input type="text" readonly value="icon标识：e637" class="unit size1of2" />
			<input type="text" maxlength="1" readonly value="&#xe637;" class="unitRight size1of2 talign-right" />
		</fieldset>

	</div>
</div>


</body>
</html>