<!DOCTYPE html>
<html>

<head>
	<title>小笨鸟MVC管理后台</title>
	<meta charset="utf-8" />
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta name="Author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<div class="xbn_frame">
		<table width="100%" height="100%" align="left">
			<tr>
				<td class="xbn_frame_left" valign="top">
					<div class="fl_conts">
						<!--左侧内容区域 -->
					</div>
				</td>
				<td class="xbn_frame_center" valign="top">
					<div class="fc_conts">
						<!--中间内容区域-->
					</div>
				</td>
			</tr>
		</table>
	</div>

	<script type="text/javascript" src="js/vendor/jquery-1.11.1.min.js"></script>
</body>

</html>
