<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8" />
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta name="Author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link href="css/style.css" type="text/css" rel="stylesheet" />
	<style>
		body{
			min-width: 1030px;
		}
		.public{
			border-bottom: 1px dotted #163A58;
			background-color: #fff;
			padding-bottom: 40px;
			margin-top: 40px;
		}
		.public h1{
			color: #999;
			font-size: 18px;
			line-height: 40px;
		}
		.public p{
			color: #666;
			font-size: 14px;
			line-height: 30px;
			margin-bottom: 20px;
		}
	</style>
</head>

<body>

<!-- 页头 begin -->
<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<div class="backstage">
		<div class="backstage_L">
			<span class="">
				BACK-STAGE MANAGEMENT
			</span>
			<span class="">
				guanliyuan
			</span>
		</div>
		<div class="backstage_R">
			<a href="javascript:;" class="icon-20"></a>
		</div>
	</div>
</div>
<!-- 页头 end -->
<!-- 面包屑 begin -->
<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<div class="crumbs">
		<span>财务</span> &gt; <span>财务</span>
	</div>
</div>
<!-- 面包屑 end -->
<!-- conts begin -->
<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<!-- tab 切换 begin -->
	<div class="serch_table">
		<ul>
			<li><a href="javascript:;">授权中</a></li>
			<li class="on"><a href="javascript:;">已过期</a></li>
		</ul>
	</div>
	<!-- tab 切换 end -->
	<!-- serch begin -->
	<div class="serch_main">
		<div class="serch_conts">
			<dl>
				<dt>用户名 : </dt>
				<dd><input type="txet" value="" class="defaultInput" /></dd>
			</dl>
			<dl>
				<dt>用户名 : </dt>
				<dd>
					<div class="defaultData">
						<div class="dataBegin">
							<span class="dataInput">2015-10-22  12:12</span>
							<a href="javascript:;" class="icon-53"></a>
						</div>
						<span class="point"></span>
						<div class="dataEnd">
							<span class="dataInput"></span>
							<a href="javascript:;" class="icon-53"></a>
						</div>
					</div>

				</dd>
			</dl>

		</div>
		<div class="serch_conts">
			<dl>
				<dt>用户名 : </dt>
				<dd>
					<div class="select w190">
						<input index-data="" type="hidden" value="请选择"/>
						<i>请选择</i>
						<em class="icon-52"></em>
						<ul>
							<li index-data=""><span>请选择</span></li>
							<li index-data="1"><span>请选择1</span></li>
							<li index-data="2"><span>请选择2</span></li>
							<li index-data="2"><span>请选择3</span></li>
						</ul>
					</div>
				</dd>
			</dl>
			<dl>
				<dt>用户名 : </dt>
				<dd>
					<div class="select w140 fL">
						<input index-data="" type="hidden" value="请选择"/>
						<i>请选择</i>
						<em class="icon-52"></em>
						<ul>
							<li index-data=""><span>请选择</span></li>
							<li index-data="1"><span>请选择1</span></li>
							<li index-data="2"><span>请选择2</span></li>
							<li index-data="2"><span>请选择3</span></li>
						</ul>
					</div>
					<input type="txet" value="" class="defaultInput mL10" />
				</dd>
			</dl>
			<dl>
				<dt>&emsp;</dt>
				<dd><a href="javascript:;" class="serchBtn" />Search</a></dd>
			</dl>
		</div>
	</div>
	<!-- serch end -->
</div>


<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<div class="abc">
		<a href="javascript:;" class=""></a>
	</div>
</div>


<!-- conts end -->
<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<!-- table begin -->
	<div class="bigTable">
		<table class="" border="0" cellspacing="0">
			<thead>
			<tr>
				<th>用户名</th>
				<th>申请提现时间</th>
				<th>提现总金额</th>
				<th>提现目标账户</th>
				<th>本次提现账单</th>
				<th> 提现状态</th>
				<th>最后处理时间</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>username007</td>
				<td>2015-03-26</td>
				<td>$ 1699.35 </td>
				<td>中国工商银行6225880198782345</td>
				<td>2014年5月账单</td>
				<td><span class="red">待审核</span></td>
				<td>2015-03-26</td>
				<td><a href="javascript:;" class="blue">审核</a></td>
			</tr>
			<tr>
				<td>username007</td>
				<td>2015-03-26</td>
				<td>$ 1699.35 </td>
				<td>中国工商银行6225880198782345</td>
				<td>2014年5月账单</td>
				<td><span class="red">处理中</span></td>
				<td>2015-03-26</td>
				<td><a href="javascript:;" class="blue">审核</a></td>
			</tr>
			<tr>
				<td>username007</td>
				<td>2015-03-26</td>
				<td>$ 1699.35 </td>
				<td>中国工商银行6225880198782345</td>
				<td>2014年5月账单</td>
				<td>已提现</td>
				<td>2015-03-26</td>
				<td><a href="javascript:;" class="blue">查看</a></td>
			</tr>
			<tr>
				<td>username007</td>
				<td>2015-03-26</td>
				<td>$ 1699.35 </td>
				<td>中国工商银行6225880198782345</td>
				<td>2014年5月账单</td>
				<td>已驳回</td>
				<td>2015-03-26</td>
				<td><a href="javascript:;" class="blue">查看</a></td>
			</tr>
			</tbody>
		</table>
	</div>
	<!-- table end -->
</div>

<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<!-- details begin -->
	<div class="details">
		<div class="stateText">
			提现状态： <span>已驳回</span>
			<span class="reason">驳回原因：账号信息错误</span>
		</div>
		<h3>基本信息</h3>
		<div class="detailsConts">
			<dl>
				<dt>用户名：</dt>
				<dd>username1@xbniao.com</dd>
			</dl>
			<dl>
				<dt>申请提现时间：</dt>
				<dd>2015-03-25    12:24  </dd>
			</dl>
			<dl>
				<dt>提现账单：  </dt>
				<dd class="typeClass"><span>2015年5月账单</span><span>2015年6月账单</span><span>2015年7月账单</span></dd>
			</dl>
			<dl>
				<dt>提现总金额：</dt>
				<dd>$10099.00</dd>
			</dl>
		</div>

	</div>
	<!-- details end -->
</div>
<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<!-- details begin -->
	<div class="details">
		<div class="stateText">
			提现状态： <span>已驳回</span>
			<span class="reason">驳回原因：账号信息错误</span>
		</div>
		<h3>基本信息</h3>
		<div class="smallTable">
			<table class="" border="0" cellspacing="0">
				<thead>
				<tr>
					<th>时间</th>
					<th>订单号</th>
					<th>商品</th>
					<th>SKU</th>
					<th>来源</th>
					<th>类型</th>
					<th>金额</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>2014-05-01 10:31</td>
					<td>amz141213101034</td>
					<td>Details about  New WomensNew Womens Wedge</td>
					<td>331216082284</td>
					<td>eBay美国站</td>
					<td>eBay成交费</td>
					<td>$53.59</td>
				</tr>
				<tr>
					<td>2014-05-01 10:31</td>
					<td>amz141213101034</td>
					<td>Details about  New WomensNew Womens Wedge</td>
					<td>331216082284</td>
					<td>eBay美国站</td>
					<td>eBay成交费</td>
					<td>$53.59</td>
				</tr>
				<tr>
					<td>2014-05-01 10:31</td>
					<td>amz141213101034</td>
					<td>Details about  New WomensNew Womens Wedge</td>
					<td>331216082284</td>
					<td>eBay美国站</td>
					<td>eBay成交费</td>
					<td>$53.59</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<!-- details begin -->
	<div class="details">
		<div class="stateText">
			提现状态： <span>已驳回</span>
			<span class="reason">驳回原因：账号信息错误</span>
		</div>
		<h3>基本信息</h3>
		<div class="otherConts">
			<div class="details_L">
				<dl>
					<dt>用户名：</dt>
					<dd>username1@xbniao.com</dd>
				</dl>
				<dl>
					<dt>本月各币种净收入：</dt>
					<dd>username1@xbniao.com</dd>
				</dl>
			</div>
			<div class="details_R">
				<dl>
					<dt>用户名：</dt>
					<dd>username1@xbniao.com</dd>
				</dl>
				<dl>
					<dt>用户名：</dt>
					<dd>username1@xbniao.com</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<div class="ordertable">
		<table class="" border="0" cellspacing="0">
			<thead>
			<tr>
				<td class="tC" width="3%"><input type="checkbox" name=""></td>
				<td width="7%">商品图片</td>
				<td width="50%">商品名称</td>
				<td width="10%">SKU</td>
				<td width="10%">金额</td>
				<td width="5%">数量</td>
				<td width="5%">运费</td>
				<td width="10%">订单状态</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="tC"><input type="checkbox" name=""></td>
				<td colspan="6">
					<ul class="">
						<li>订单号：<a href="javascript:;">ebay1938480583478</a></li>
						<li>ebay订单号：103848750583</li>
						<li>下单时间：2015-03-24</li>
						<li>销售站点：ebay澳大利亚站</li>
						<li>买家：zhaofei</li>
						<li>卖家：zhaofeifei</li>
					</ul>
				</td>
				<td>
					<span>未付款</span>
				</td>
			</tr>
			<tr class="abc">
				<td></td>
				<td colspan="2">
					<dl>
						<dt><img src="images/img_01.jpg" /></dt>
						<dd>
							<a href="javascript:;">The name of the commodity The name of the commodityThe name of the commodity</a>
							<p class="order_choice"><span>2XL</span><span>红色</span></p>
						</dd>
					</dl>
				</td>
				<td class="vertical_align">zuxianweiwazi001 </td>
				<td class="vertical_align">$20.00</td>
				<td class="vertical_align">100</td>
				<td class="vertical_align">15</td>
				<td></td>
			</tr>
			</tbody>
			<tbody>
			<tr>
				<td class="tC"><input type="checkbox" name=""></td>
				<td colspan="6">
					<ul class="">
						<li>订单号：<a href="javascript:;">ebay1938480583478</a></li>
						<li>ebay订单号：103848750583</li>
						<li>下单时间：2015-03-24</li>
						<li>销售站点：ebay澳大利亚站</li>
						<li>买家：zhaofei</li>
						<li>卖家：zhaofeifei</li>
					</ul>
				</td>
				<td>
					<span>未付款</span>
				</td>
			</tr>
			<tr class="abc">
				<td></td>
				<td colspan="2">
					<dl>
						<dt><img src="images/img_01.jpg" /></dt>
						<dd>
							<a href="javascript:;">The name of the commodity The name of the commodityThe name of the commodity</a>
							<p class="order_choice"><span>2XL</span><span>红色</span></p>
						</dd>
					</dl>
				</td>
				<td class="vertical_align">zuxianweiwazi001 </td>
				<td class="vertical_align">$20.00</td>
				<td class="vertical_align">100</td>
				<td class="vertical_align">15</td>
				<td></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<div class="details">
		<!--123-->
		<div class="stateTip">
			<dl class="mainState">
				<dt>审核状态：</dt>
				<dd>编辑失败</dd>
			</dl>
			<dl class="stateReason">
				<dt>失败原因：</dt>
				<dd>商品被系统驳回</dd>
			</dl>
		</div>
		<h2>
			商品信息
			<span>
				<em>提交时间:</em>
				<em>2015-08-26</em>
				<em>13:34</em>
			</span>
		</h2>
		<div class="details_combie">
			<dl>
				<dt>刊登标题：</dt>
				<dd>是打了卡的感觉了空间都是不了解啊股份来看</dd>
				<dd class="red">是打了卡的感觉了空间都是不了解啊股份来看</dd>
			</dl>
			<dl>
				<dt>刊登副标题：</dt>
				<dd>是打了卡的感觉了空间都是不了解啊股份来看</dd>
				<dd class="red">是打了卡的感觉了空间都是不了解啊股份来看</dd>
			</dl>
		</div>
	</div>
</div>

<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<div class="details">
		<!--123-->
		<div class="details_button">
			<span class="button_C">五字的按钮</span>
			<span class="">四字按钮</span>
			<span class="e">三按钮</span>
			<span class="">按钮</span>
			<span class="">钮</span>
		</div>
	</div>

	<div class="details">
		<!--合栏加分栏-->
		<div class="details_subfield">
			<div class="sub_L">
				<dl>
					<dt>小笨鸟用户：</dt>
					<dd>bestbird@xbniao.com</dd>
					<dd class="red">bestbird@xbniao.com</dd>
				</dl>
				<dl>
					<dt>小笨鸟用户：</dt>
					<dd>bestbird@xbniao.com</dd>
					<dd class="red">bestbird@xbniao.com</dd>
				</dl>
			</div>
			<div class="sub_R">
				<dl>
					<dt>商品尺寸：</dt>
					<dd>
						<span>长（180cm）</span><span>宽(180cm)</span><span>高（180cm）</span>
					</dd>
					<dd class="red">
						<span>长（180cm）</span><span>宽(180cm)</span><span>高（180cm）</span>
					</dd>
				</dl>
				<dl>
					<dt>商品尺寸：</dt>
					<dd>
						<span>长（180cm）</span><span>宽(180cm)</span><span>高（180cm）</span>
					</dd>
					<dd class="red">
						<span>长（180cm）</span><span>宽(180cm)</span><span>高（180cm）</span>
					</dd>
				</dl>
			</div>
			<div class="sub_Bottom">
				<dl>
					<dt>商品分类：</dt>
					<dd>
						<em>AAAA</em>
						&gt;
						<em>BBBB</em>
						&gt;
						<em>CCCC</em>
						&gt;
						<em>DDDD</em>
						&gt;
						<em>EEEE</em>
						&gt;
						<em>FFFF</em>
						&gt;
						<em>GGGG</em>
						&gt;
						<em>HHHH</em>
					</dd>
					<dd class="red">
						<em>AAAA</em>
						&gt;
						<em>BBBB</em>
						&gt;
						<em>CCCC</em>
						&gt;
						<em>DDDD</em>
						&gt;
						<em>EEEE</em>
					</dd>
				</dl>
			</div>
		</div>
		<!--图片描述-->
		<div class="picDiscribe">
			<div class="pic_show">
					<span class="pic_main">
						<img src="images/img_02.png" alt=""/>
					</span>
					<span>
						<img src="images/img_02.png" alt=""/>
					</span>
					<span>
						<img src="images/img_02.png" alt=""/>
						<img class="pic_alt" src="images/img_02.png" alt=""/>
					</span>
					<span>
						<img src="images/img_02.png" alt=""/>
					</span>
					<span>
						<img src="images/img_02.png" alt=""/>
					</span>
					<span>
						<img src="images/img_02.png" alt=""/>
						<img class="pic_alt" src="images/img_02.png" alt=""/>
					</span>
					<span>
						<img src="images/img_02.png" alt=""/>
					</span>
			</div>
			<div class="wordDiscribe">
				<em>
					审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。平台将在3-5个工作日内完成申请审核，请耐心等待。
					审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。平台将在3-5个工作日内完成申请审核，请耐心等待。
					审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。平台将在3-5个工作日内完成申请审核，请耐心等待。
					审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。
				</em>
				<em class="red">
					审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。平台将在3-5个工作日内完成申请审核，请耐心等待。
					审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。平台将在3-5个工作日内完成申请审核，请耐心等待。
					审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。平台将在3-5个工作日内完成申请审核，请耐心等待。
					审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。
				</em>
			</div>
		</div>
		<!--规格描述-->
		<div class="smallTable">
			<table class="" border="0" cellspacing="0">
				<thead>
				<tr>
					<th>规格一</th>
					<th>规格二</th>
					<th>规格四</th>
					<th>规格五</th>
					<th>价格</th>
					<th>可售数量</th>
					<th>商品货号/SKU</th>
					<th>UPC</th>
					<th>状态</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>颜色</td>
					<td>尺码</td>
					<td>材料</td>
					<td>型号</td>
					<td>大小</td>
					<td>￥55.55</td>
					<td>20</td>
					<td>SKU-123</td>
					<td>798643516</td>
					<td class="blue">启用</td>
				</tr>
				<tr>
					<td>颜色</td>
					<td>尺码</td>
					<td>材料</td>
					<td>型号</td>
					<td>大小</td>
					<td>￥55.55</td>
					<td>20</td>
					<td>SKU-123</td>
					<td>798643516</td>
					<td>启用</td>
				</tr>

				</tbody>
			</table>
			<table class="" border="0" cellspacing="0">
				<thead>
				<tr>
					<th>规格一</th>
					<th>规格二</th>
					<th>商品图片</th>
				</tr>
				</thead>
				<tbody class="picOn">
				<tr>
					<td>红色</td>
					<td>L</td>
					<td>
						<img src="images/img_02.png" alt=""/>
						<img src="images/img_02.png" alt=""/>
						<img src="images/img_02.png" alt=""/>
						<img src="images/img_02.png" alt=""/>
						<img src="images/img_02.png" alt=""/>
						<img src="images/img_02.png" alt=""/>
					</td>
				</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<!-- details begin -->
	<div class="details">
		<div class="smallTable">
			<table class="" border="0" cellspacing="0">
				<thead>
				<tr>
					<th>规格一</th>
					<th>规格二</th>
					<th>商品图片</th>
				</tr>
				</thead>
				<tbody class="picOn">
				<tr>
					<td>红色</td>
					<td>L</td>
					<td>
						<img src="images/img_02.png" alt=""/>
						<img src="images/img_02.png" alt=""/>
						<img src="images/img_02.png" alt=""/>
						<img src="images/img_02.png" alt=""/>
						<img src="images/img_02.png" alt=""/>
						<img src="images/img_02.png" alt=""/>
					</td>
				</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<!-- details begin -->
	<div class="details">
		<h2>
			审核操作
		</h2>
		<div class="initBox">
			<dl class="textDl">
				<dt>操作审核：</dt>
				<dd class="choiceRadio">
					<label><input class="" name="Fruit" type="radio" value="" />审核通过</label>
					<label><input class="" name="Fruit" type="radio" value="" />驳回</label>
				</dd>
			</dl>
			<dl class="textDl mB20">
				<dt>刊登方式：</dt>
				<dd>
					<div class="select w250" style="z-index: 100;">
						<input type="hidden" value="请选择" index-data="">
						<i class="">请选择</i>
						<em class="icon-52"></em>
						<ul style="display: none;">
							<li index-data=""><span>请选择</span></li>
							<li index-data="1"><span>限时刊登</span></li>
							<li index-data="2"><span>不限时刊登</span></li>
						</ul>
					</div>
				</dd>
			</dl>
			<dl class="textDl mB20">
				<dt>开始刊登时间：</dt>
				<dd>
					<input type="txet" value="" class="input w250" />
					<span>
						站点时间：
						<em>2015-03-27</em>
						<em>12:55</em>
					</span>
				</dd>
			</dl>
			<dl class="textDl mB20">
				<dt>结束刊登时间：</dt>
				<dd>
					<input type="txet" value="" class="input w250" />
					<span>
						站点时间：
						<em>2015-03-27</em>
						<em>12:55</em>
					</span>
				</dd>
			</dl>
		</div>
	</div>
</div>


<script type="text/javascript" src="js/vendor/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/vendor/component.js"></script>
<script>
	sele();
</script>
</body>


</html>
