<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8" />
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta name="Author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link href="css/style.css" type="text/css" rel="stylesheet" />
	<style>
		body{
			min-width: 1030px;
			background: #fafafa;
		}
		.public{
			border-bottom: 1px dotted #163A58;
			padding-bottom: 40px;
			margin-top: 40px;
		}
		.public h1{
			color: #999;
			font-size: 18px;
			line-height: 40px;
		}
		.public p{
			font-size: 14px;
			margin-bottom: 20px;
		}
	</style>
</head>

<body>

<!-- 页头 begin -->
<div class="public">
	<h1>标题：公用页头</h1>
	<p>说明：</p>
	<div class="backstage">
		<span class="backstage_L">BACK-STAGE MANAGEMENT</span>
		<div class="backstage_R">
			<div class="signOut">
				<a href="javascript:;" class="icon-20"></a>
			</div>
			<div class="inFor">
				<a href="javascript:;" class="icon-3"></a>
				<span class="inFor_name"><em class="icon-12"></em>GUANLIYUAN</span>
			</div>
		</div>
	</div>
</div>
<!-- 页头 end -->
<!-- 面包屑 begin -->
<div class="public">
	<h1>标题：面包屑</h1>
	<p>说明：</p>
	<div class="crumbs">
		<span>财务</span> &gt; <span>财务</span>
	</div>
</div>
<!-- 面包屑 end -->

<!-- conts begin -->
<div class="public">
	<h1>标题：serch搜索以及tab切换</h1>
	<p>说明：</p>
	<div class="">
		<!-- tab 切换 begin -->
		<div class="serch_tab">
			<ul>
				<li><a href="javascript:;">授权中</a></li>
				<li class="on"><a href="javascript:;">已过期</a></li>
			</ul>
		</div>
		<!-- tab 切换 end -->
		<!-- serch begin -->
		<div class="serch_main">
			<div class="serch_conts">
				<dl>
					<dt>用户名 : </dt>
					<dd><input type="text" value="" class="defaultInput" /></dd>
				</dl>
				<dl>
					<dt>用户名 : </dt>
					<dd>
						<div class="defaultData">
							<div class="dataBegin">
								<span class="dataInput" id="startTime"></span>
								<a href="javascript:;" class="timeStart icon-54"></a>
							</div>
							<span class="point"></span>
							<div class="dataEnd">
								<span class="dataInput" id="endTime"></span>
								<a href="javascript:;" class="timeEnd icon-54"></a>
							</div>
						</div>
					</dd>
				</dl>
				
			</div>
			<div class="serch_conts">
				<dl>
					<dt>用户名 : </dt>
					<dd>
						<div class="select w190">
							<input index-data="" type="hidden" value="请选择" />
							<i>请选择</i>
							<em class="icon-52"></em>
							<ul>
								<li index-data=""><span>请选择</span></li>
								<li index-data="1"><span>请选择1</span></li>
								<li index-data="2"><span>请选择2</span></li>
								<li index-data="2"><span>请选择3</span></li>
							</ul>
						</div>
					</dd>
				</dl>
				<dl>
					<dt>用户名 : </dt>
					<dd>
						<div class="select w140 fL">
							<input index-data="" type="hidden" value="请选择" />
							<i>请选择</i>
							<em class="icon-52"></em>
							<ul>
								<li index-data=""><span>请选择</span></li>
								<li index-data="1"><span>请选择1</span></li>
								<li index-data="2"><span>请选择2</span></li>
								<li index-data="2"><span>请选择3</span></li>
							</ul>
						</div>
						<input type="text" value="" class="defaultInput mL10" />
					</dd>
				</dl>
				<dl>
					<dt>&emsp;</dt>
					<dd><a href="javascript:;" class="button" />Search</a></dd>
				</dl>
			</div>
		</div>
		<!-- serch end -->
	</div>
</div>
<!-- conts end -->

<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<div class="">
		<a href="javascript:;" class="button">Search</a><a href="javascript:;" class="button">Search</a>
	</div>
</div>


<div class="public">
	<h1>标题：通栏table</h1>
	<p>说明：</p>
	<!-- table begin -->
	<div class="bigTable">
		<table class="" border="0" cellspacing="0">
			<thead>
				<tr>
					<th>用户名</th>
					<th>申请提现时间</th>
					<th>提现总金额</th>
					<th>提现目标账户</th>
					<th>本次提现账单</th>
					<th> 提现状态</th>
					<th>最后处理时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>username007</td>
					<td>2015-03-26</td>
					<td>$ 1699.35 </td>
					<td>中国工商银行6225880198782345</td>
					<td>2014年5月账单</td>
					<td><span class="red">待审核</span></td>
					<td>2015-03-26</td>
					<td><a href="javascript:;" class="blue">审核</a></td>
				</tr>
				<tr>
					<td>username007</td>
					<td>2015-03-26</td>
					<td>$ 1699.35 </td>
					<td>中国工商银行6225880198782345</td>
					<td>2014年5月账单</td>
					<td><span class="red">处理中</span></td>
					<td>2015-03-26</td>
					<td><a href="javascript:;" class="blue">审核</a></td>
				</tr>
				<tr>
					<td>username007</td>
					<td>2015-03-26</td>
					<td>$ 1699.35 </td>
					<td>中国工商银行6225880198782345</td>
					<td>2014年5月账单</td>
					<td>已提现</td>
					<td>2015-03-26</td>
					<td><a href="javascript:;" class="blue">查看</a></td>
				</tr>
				<tr>
					<td>username007</td>
					<td>2015-03-26</td>
					<td>$ 1699.35 </td>
					<td>中国工商银行6225880198782345</td>
					<td>2014年5月账单</td>
					<td>已驳回</td>
					<td>2015-03-26</td>
					<td><a href="javascript:;" class="blue">查看</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- table end -->
</div>

<div class="public">
	<h1>标题：</h1>
	<p>说明：</p>
	<div class="stateText">
		<p>提现状态： <span>已驳回</span></p>
		<p class="reason">驳回原因：账号信息错误</p>
	</div>
</div>
<div class="public">
	<h1>标题：</h1>
	<p>说明：</p>
	<h3 class="titleText">基本信息</h3>
</div>

<div class="public">
	<h1>标题：</h1>
	<p>说明：</p>
	<!-- details begin -->
	<div class="details">
		<div class="">
			<dl class="textDl">
				<dt>用户名：</dt>
				<dd>username1@xbniao.com</dd>
			</dl>
			<dl class="textDl">
				<dt>申请提现时间：</dt>
				<dd>2015-03-25    12:24  </dd>
			</dl>
			<dl class="textDl">
				<dt>提现账单：  </dt>
				<dd class="typeClass"><span>2015年5月账单</span><span>2015年6月账单</span><span>2015年7月账单</span></dd>
			</dl>
			<dl class="textDl">
				<dt>提现总金额：</dt>
				<dd>$10099.00</dd>
			</dl>
		</div>

	</div>
	<!-- details end -->
</div>
<div class="public">
	<h1>标题：</h1>
	<p>说明：</p>
	<!-- details begin -->
	<div class="details">
		<div class="smallTable">
			<table class="" border="0" cellspacing="0">
				<thead>
					<tr>
						<th>时间</th>
						<th>订单号</th>
						<th>商品</th>
						<th>SKU</th>
						<th>来源</th>
						<th>类型</th>
						<th>金额</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>2014-05-01 10:31</td>
						<td>amz141213101034</td>
						<td>Details about  New WomensNew Womens Wedge</td>
						<td>331216082284</td>
						<td>eBay美国站</td>
						<td>eBay成交费</td>
						<td>$53.59</td>
					</tr>
					<tr>
						<td>2014-05-01 10:31</td>
						<td>amz141213101034</td>
						<td>Details about  New WomensNew Womens Wedge</td>
						<td>331216082284</td>
						<td>eBay美国站</td>
						<td>eBay成交费</td>
						<td>$53.59</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<div class="public">
	<h1>标题：</h1>
	<p>说明：</p>
	<!-- details begin -->
	<div class="details">
		<div class="otherConts">
			<div class="details_L">
				<dl>
					<dt>用户名：</dt>
					<dd>username1@xbniao.com</dd>
				</dl>
				<dl>
					<dt>本月各币种净收入：</dt>
					<dd>username1@xbniao.com</dd>
				</dl>
			</div>
			<div class="details_R">
				<dl>
					<dt>用户名：</dt>
					<dd>username1@xbniao.com</dd>
				</dl>
				<dl>
					<dt>用户名：</dt>
					<dd>username1@xbniao.com</dd>
				</dl>
			</div>
		</div>
	</div>
</div>

<div class="public">
	<h1>标题：</h1>
	<p>说明：</p>
	<!-- details begin -->
	<div class="details">
		<div class="otherConts">
			<div class="details_L">
				<dl class="">
					<dt>小笨鸟用户：</dt>
					<dd>bestbird@xbniao.com</dd>
					<dd class="red">bestbird@xbniao.com</dd>
				</dl>
				<dl class="">
					<dt>小笨鸟用户：</dt>
					<dd>bestbird@xbniao.com</dd>
					<dd class="red">bestbird@xbniao.com</dd>
				</dl>
			</div>
			<div class="details_R">
				<dl>
					<dt>商品尺寸：</dt>
					<dd>
						<span class="mR10">长（180cm）</span>
						<span class="mR10">宽(180cm)</span>
						<span class="mR10">高（180cm）</span>
					</dd>
					<dd class="red">
						<span class="mR10">长（180cm）</span>
						<span class="mR10">宽(180cm)</span>
						<span class="mR10">高（180cm）</span>
					</dd>
				</dl>
				<dl>
					<dt>商品尺寸：</dt>
					<dd>
						<span class="mR10">长（180cm）</span>
						<span class="mR10">宽(180cm)</span>
						<span class="mR10">高（180cm）</span>
					</dd>
					<dd class="red">
						<span class="mR10">长（180cm）</span>
						<span class="mR10">宽(180cm)</span>
						<span class="mR10">高（180cm）</span>
					</dd>
				</dl>
			</div>
			
		</div>
	</div>
</div>

<div class="public">
	<h1>标题：</h1>
	<p>说明：</p>
	<div class="ordertable">
		<table class="" border="0" cellspacing="0">
			<thead>
				<tr>
					<td class="tC" width="3%"><input type="checkbox" name="" /></td>
					<td width="7%">商品图片</td>
					<td width="50%">商品名称</td>
					<td width="10%">SKU</td>
					<td width="10%">金额</td>
					<td width="5%">数量</td>
					<td width="5%">运费</td>
					<td width="10%">订单状态</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="tC"><input type="checkbox" name="" /></td>
					<td colspan="6">
						<ul class="">
							<li>订单号：<a href="javascript:;">ebay1938480583478</a></li>
							<li>ebay订单号：103848750583</li>
							<li>下单时间：2015-03-24</li>
							<li>销售站点：ebay澳大利亚站</li>
							<li>买家：zhaofei</li>
							<li>卖家：zhaofeifei</li>
						</ul>
					</td>
					<td>
						<span>未付款</span>
					</td>
				</tr>
				<tr class="abc">
					<td></td>
					<td colspan="2">
						<dl>
							<dt><img src="images/img_01.jpg" /></dt>
							<dd>
								<a href="javascript:;">The name of the commodity The name of the commodityThe name of the commodity</a>
								<p class="order_choice"><span>2XL</span><span>红色</span></p>
							</dd>
						</dl>
					</td>
					<td>zuxianweiwazi001 </td>
					<td>$20.00</td>
					<td>100</td>
					<td>15</td>
					<td></td>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<td class="tC"><input type="checkbox" name="" /></td>
					<td colspan="6">
						<ul class="">
							<li>订单号：<a href="javascript:;">ebay1938480583478</a></li>
							<li>ebay订单号：103848750583</li>
							<li>下单时间：2015-03-24</li>
							<li>销售站点：ebay澳大利亚站</li>
							<li>买家：zhaofei</li>
							<li>卖家：zhaofeifei</li>
						</ul>
					</td>
					<td>
						<span>未付款</span>
					</td>
				</tr>
				<tr class="abc">
					<td></td>
					<td colspan="2">
						<dl>
							<dt><img src="images/img_01.jpg" /></dt>
							<dd>
								<a href="javascript:;">The name of the commodity The name of the commodityThe name of the commodity</a>
								<p class="order_choice"><span>2XL</span><span>红色</span></p>
							</dd>
						</dl>
					</td>
					<td>zuxianweiwazi001 </td>
					<td>$20.00</td>
					<td>100</td>
					<td>15</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="public">
	<h1>标题: dl结构的input多用于详情页</h1> 
	<p>说明：</p>
	<div class="details">
		<div class="">
			<dl class="editDl">
				<dt>用户名：</dt>
				<dd><input type="text" value="" class="input w240" /></dd>
			</dl>
			<dl class="editDl">
				<dt>申请提现时间：</dt>
				<dd>
					<div class="select w190 fL">
						<input index-data="" type="hidden" value="请选择" />
						<i>请选择</i>
						<em class="icon-52"></em>
						<ul>
							<li index-data=""><span>请选择</span></li>
							<li index-data="1"><span>请选择1</span></li>
							<li index-data="2"><span>请选择2</span></li>
							<li index-data="2"><span>请选择3</span></li>
						</ul>
					</div>
				</dd>
			</dl>
			<dl class="editDl">
				<dt>提现账单：  </dt>
				<dd><input type="text" value="" class="input" /></dd>
			</dl>
			<dl class="editDl">
				<dt>提现总金额：</dt>
				<dd><input type="text" value="" class="input" /></dd>
			</dl>
		</div>
	</div>
</div>

<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<dl class="singleSearch">
		<dt>用户名：</dt>
		<dd>
			<input type="text" value="" class="input" /><a href="javascript:;" class="button mL10">search</a>
		</dd>
	</dl>
</div>

<div class="public">
	<h1>标题：按钮样式</h1> 
	<p>说明：</p>
	<div class="btnMain">
		<a href="javascript:;" class="button">提交</a><a href="javascript:;" class="greybutton">提交订单</a><a href="javascript:;" class="buttonText">取消</a>
	</div>
</div>

<div class="public">
	<h1>标题：页脚</h1>
	<p>说明：</p>
	<ul class="tabBtn">
		<li class=""><a href="javascript:;">摘要</a></li>
		<li><a href="javascript:;">发货</a></li>
		<li><a href="javascript:;">消息</a></li>
		<li><a href="javascript:;">内容</a></li>
	</ul>
	<div class="">
		<div class="">摘要</div>
		<div class="none">发货</div>
		<div class="none">消息</div>
		<div class="none">内容</div>
	</div>
</div>

<div class="public">
	<h1>标题：</h1>
	<p>说明：</p>
	<!-- details begin -->
	<div class="details">
		<div class="initBox">
			<dl class="editDl">
				<dt><font>*</font>用户名：</dt>
				<dd><input type="text" value="" class="input w240" /></dd>
			</dl>
			<dl class="editDl">
				<dt><font>*</font>申请提现时间：</dt>
				<dd>
					<div class="select w190 fL">
						<input index-data="" type="hidden" value="请选择"/>
						<i>请选择</i>
						<em class="icon-52"></em>
						<ul>
							<li index-data=""><span>请选择</span></li>
							<li index-data="1"><span>请选择1</span></li>
							<li index-data="2"><span>请选择2</span></li>
							<li index-data="2"><span>请选择3</span></li>
						</ul>
					</div>
				</dd>
			</dl>
			<dl class="editDl">
				<dt><font>*</font>提现账单：  </dt>
				<dd><input type="text" value="" class="input w240" /><span class="mL10">单位</span></dd>
			</dl>
			<dl class="editDl">
				<dt><font></font>提现总金额：</dt>
				<dd class="choiceRadio">
					<label><input class="" name="Fruit" type="radio" value="" />启用</label>
					<label><input class="" name="Fruit" type="radio" value="" />禁用</label>
				</dd>
			</dl>
		</div>
	</div>
	<!-- details end -->
</div>

<div class="public">
	<h1>标题：页脚</h1>
	<p>说明：</p>
	<div class="details">
		<dl class="changeDl">
			<dt>刊登标题：</dt>
			<dd>是打了卡的感觉了空间都是不了解啊股份来看</dd>
			<dd class="red">是打了卡的感觉了空间都是不了解啊股份来看</dd>
		</dl>
		<dl class="changeDl">
			<dt>刊登标题：</dt>
			<dd>是打了卡的感觉了空间都是不了解啊股份来看</dd>
			<dd class="red">是打了卡的感觉了空间都是不了解啊股份来看</dd>
		</dl>
		<dl class="changeDl">
			<dt>商品分类：</dt>
			<dd><em>AAAA</em>&gt;<em>BBBB</em>&gt;<em>CCCC</em>&gt;<em>DDDD</em>&gt;<em>EEEE</em>&gt;<em>FFFF</em>&gt;<em>GGGG</em>&gt;<em>HHHH</em></dd>
			<dd class="red"><em>AAAA</em>&gt;<em>BBBB</em>&gt;<em>CCCC</em>&gt;<em>DDDD</em>&gt;<em>EEEE</em></dd>
		</dl>
	</div>
</div> 
<div class="public">
	<h1>标题：页脚</h1>
	<p>说明：</p>
	<!--图片描述-->
	<div class="picDiscribe details">
		<div class="pic_show">
			<span class="pic_main">
				<img src="images/img_02.png" alt=""/>
			</span>
			<span>
				<img src="images/img_02.png" alt=""/>
			</span>
			<span>
				<img src="images/img_02.png" alt=""/>
				<img class="pic_alt" src="images/img_02.png" alt=""/>
			</span>
			<span>
				<img src="images/img_02.png" alt=""/>
			</span>
			<span>
				<img src="images/img_02.png" alt=""/>
			</span>
			<span>
				<img src="images/img_02.png" alt=""/>
				<img class="pic_alt" src="images/img_02.png" alt=""/>
			</span>
			<span>
				<img src="images/img_02.png" alt=""/>
			</span>
			<span>
				<img src="images/img_02.png" alt=""/>
				<img class="pic_alt" src="images/img_02.png" alt=""/>
			</span>
			<span>
				<img src="images/img_02.png" alt=""/>
			</span>
		</div>
		<div class="wordDiscribe">
			<em>
				审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。平台将在3-5个工作日内完成申请审核，请耐心等待。
				审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。平台将在3-5个工作日内完成申请审核，请耐心等待。
				审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。平台将在3-5个工作日内完成申请审核，请耐心等待。
				审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。
			</em>
			<em class="red">
				审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。平台将在3-5个工作日内完成申请审核，请耐心等待。
				审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。平台将在3-5个工作日内完成申请审核，请耐心等待。
				审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。平台将在3-5个工作日内完成申请审核，请耐心等待。
				审核结果会以手机短信与邮件的方式通知，请您注意查收。如果您的邮箱未激活，请先激活邮箱，以免收不到结果信息。
			</em>
		</div>
	</div>
</div>

<div class="public">
	<h1>标题</h1>
	<p>说明：</p>
	<!-- details begin -->
	<div class="details">
		<div class="bigTable">
			<table class="" border="0" cellspacing="0">
				<thead>
					<tr>
						<th>规格一</th>
						<th>规格二</th>
						<th>商品图片</th>
					</tr>
				</thead>
				<tbody class="picOn">
					<tr>
						<td>红色</td>
						<td>L</td>
						<td>
							<img src="images/img_02.png" alt=""/>
							<img src="images/img_02.png" alt=""/>
							<img src="images/img_02.png" alt=""/>
							<img src="images/img_02.png" alt=""/>
							<img src="images/img_02.png" alt=""/>
							<img src="images/img_02.png" alt=""/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<div class="public">
	<h1>标题：页脚</h1>
	<p>说明：</p>
	<div class="footer">
		<p>© Copyright 2003-2015 小笨鸟跨境电子商务平台  www.xbniao.com</p>
	</div>
</div> 

<div class="public">
	<h1>标题：分页</h1>
	<p>说明：</p>
	<div class="page">
		<a href="javascript:;" class="firstPage fL">首页</a>
		<a href="javascript:;" class="prve fL"></a>
		<ul class="pagenumber">
			<li class="on"><a href="javascript:;" class="">1</a></li>
			<li><a href="javascript:;" class=""></a></li>
			<li><a href="javascript:;" class=""></a></li>
		</ul>
		<a href="javascript:;" class="next fL"></a>
		<a href="javascript:;" class="lastPage">尾页</a>
	</div>
</div>





<script type="text/javascript" src="js/vendor/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="js/vendor/laydate.dev.js"></script>
<script type="text/javascript" src="js/vendor/jquery.nicescroll.js"></script>
<script type="text/javascript" src="js/vendor/component.js"></script>
<script>
	sele();
	$(".timeStart").on("click",function(){
		laydate({
			istime: true,
			elem : '#startTime',
			event : 'focus',
			format: 'YYYY-MM-DD hh:mm:ss'
		});
	});
	$(".timeEnd").on("click",function(){
		laydate({
			istime: true,
			elem : '#endTime',
			event : 'focus',
			format: 'YYYY-MM-DD hh:mm:ss'
		});
	});
	$("input,textarea").focusin(function(){
		$(this).css({"border-color" : "#5fb1ef"});
	});
	$("input,textarea").focusout(function(){
		$(this).css({"border-color" : "#e3e3e3"});
	});

	$(".bigTable tbody tr,.smallTable tbody tr").hover(function(){
		$(this).css({"background-color":"#ececec"});
	},function(){
		$(this).css({"background-color":"#fff"});
	});
	$(".ordertable tbody").hover(function(){
		$(this).css({"background-color":"#ececec"});
	},function(){
		$(this).css({"background-color":"#fff"});
	});

	$(document).ready(function(){

		$("body").niceScroll();

	});
</script>
</body>


</html>
