<!DOCTYPE html>
<html>

<head>
	<title>财务_3_提现申请管理列表 - 审核提现</title>
	<meta charset="utf-8" />
	<meta name="Keywords" content="">
	<meta name="Description" content="">
	<meta name="Author" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link href="../../css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<div class="xbn_frame">
		<table width="100%" height="100%" align="left">
			<tr>
				<td class="xbn_frame_left" valign="top">
					<div class="fl_conts">
						<div class="nav">
							<h1><img src="../../img/logo.png" alt=""/></h1>
							<div class="navItem">
								<dl class="active">
									<dt>
										<a href="#"><em class="icon-15"></em>系统管理</a>
									</dt>
									<dd>
										<a class="active" href="#"><em>&bull;</em>管理员角色</a>
										<a href="#"><em>&bull;</em>管理账户</a>
										<a href="#"><em>&bull;</em>操作日志</a>
										<a href="#"><em>&bull;</em>会员角色管理</a>
										<a href="#"><em>&bull;</em>等级管理</a>
										<a href="#"><em>&bull;</em>业务管理</a>
										<a href="#"><em>&bull;</em>权限管理</a>
									</dd>
								</dl>
								<dl class="">
									<dt>
										<a href="#"><em class="icon-12"></em>会员管理</a>
									</dt>
									<dd>
										<a href="#"><em>&bull;</em>会员管理</a>
										<a href="#"><em>&bull;</em>商家管理</a>
										<a href="#"><em>&bull;</em>入住审核</a>
										<a href="#"><em>&bull;</em>品牌审核</a>
										<a href="#"><em>&bull;</em>品牌管理</a>
										<a href="#"><em>&bull;</em>站点授权</a>
										<a href="#"><em>&bull;</em>保证金管理</a>
										<a href="#"><em>&bull;</em>消息管理</a>
										<a href="#"><em>&bull;</em>客户管理</a>
									</dd>
								</dl>
								<dl class="">
									<dt>
										<a href="#"><em class="icon-14"></em>配置管理</a>
									</dt>
									<dd>
										<a href="#"><em>&bull;</em>站点设置</a>
										<a href="#"><em>&bull;</em>敏感词管理</a>
										<a href="#"><em>&bull;</em>物流基础数据</a>
										<a href="#"><em>&bull;</em>卖家帐号</a>
										<a href="#"><em>&bull;</em>销售产品管理</a>
										<a href="#"><em>&bull;</em>促销活动管理</a>
										<a href="#"><em>&bull;</em>退货政策管理</a>
										<a href="#"><em>&bull;</em>商品描述模版管理</a>
									</dd>
								</dl>
								<dl class="">
									<dt>
										<a href="#"><em class="icon-7"></em>财务管理</a>
									</dt>
									<dd>
										<a href="#"><em>&bull;</em>提现申请管理</a>
										<a href="#"><em>&bull;</em>银行账户管理</a>
										<a href="#"><em>&bull;</em>账单管理</a>
										<a href="#"><em>&bull;</em>收支流水管理</a>
										<a href="#"><em>&bull;</em>汇率管理</a>
										<a href="#"><em>&bull;</em>站点授权</a>
										<a href="#"><em>&bull;</em>服务购买流程</a>
									</dd>
								</dl>
								<dl class="">
									<dt>
										<a href="#"><em class="icon-6"></em>订单管理</a>
									</dt>
									<dd>
										<a href="#"><em>&bull;</em>订单管理</a>
										<a href="#"><em>&bull;</em>退换货&退款管理</a>
									</dd>
								</dl>
								<dl class="">
									<dt>
										<a href="#"><em class="icon-4"></em>商品管理</a>
									</dt>
									<dd>
										<a href="#"><em>&bull;</em>主商品管理</a>
										<a href="#"><em>&bull;</em>在线商品管理</a>
										<a href="#"><em>&bull;</em>下线商品管理</a>
										<a href="#"><em>&bull;</em>刊登商品审核</a>
										<a href="#"><em>&bull;</em>编辑商品审核</a>
									</dd>
								</dl>
								<dl class="">
									<dt>
										<a href="#"><em class="icon-2"></em>图片管理</a>
									</dt>
									<dd>
										<a href="#"><em>&bull;</em>图片管理</a>
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</td>
				<td class="xbn_frame_center" valign="top">
					<div class="fc_conts">
						<!--中间内容区域begin-->
						<!-- 页头 begin -->
						<div class="backstage">
							<span class="backstage_L">BACK-STAGE MANAGEMENT</span>
							<div class="backstage_R">
								<div class="signOut">
									<a href="javascript:;" class="icon-20"></a>
								</div>
								<div class="inFor">
									<a href="javascript:;" class="icon-3"></a>
									<span class="inFor_name"><em class="icon-12"></em>GUANLIYUAN</span>
								</div>
							</div>
						</div>
						<!-- 页头 begin -->
						<!-- 面包屑 begin-->
						<div class="crumbs">
							<span>财务</span> &gt; <span>财务</span>
						</div>
						<!-- 面包屑 end-->
						<!-- conts begin -->
						<div class="">
							<div class="details">
								<h3>基本信息</h3>
								<div class="detailsConts">
									<dl>
										<dt>用户名：</dt>
										<dd>username1@xbniao.com</dd>
									</dl>
									<dl>
										<dt>申请提现时间：</dt>
										<dd>2015-03-25    12:24  </dd>
									</dl>
									<dl>
										<dt>提现账单：  </dt>
										<dd class="typeClass"><span>2015年5月账单</span><span>2015年6月账单</span><span>2015年7月账单</span></dd>
									</dl>
									<dl>
										<dt>提现总金额：</dt>
										<dd>$10099.00</dd>
									</dl>
									<dl>
										<dt>提现目标账户：</dt>
										<dd>中国银行 9089898089789686876</dd>
									</dl>
									<dl>
										<dt>账户类型：</dt>
										<dd>$10099.00</dd>
									</dl>
									<dl>
										<dt>持卡人姓名：</dt>
										<dd>哇哈哈</dd>
									</dl>
									<dl>
										<dt>开户行信息：</dt>
										<dd>北京市大兴区迎新街中国银行支行</dd>
									</dl>
								</div>
							</div>
							<div class="details">
								<h3>提现信息</h3>
								<div class="editConts">
									<dl>
										<dt>提现金额：</dt>
										<dd>￥1009.88</dd>
									</dl>
									<dl>
										<dt>提现手续费：</dt>
										<dd>￥40.00</dd>
									</dl>
									<dl>
										<dt>实际到账金额：</dt>
										<dd><input type="txet" value="" class="input w240"><span class="mL10">人民币</span></dd>
									</dl>
									<dl>
										<dt>提现状态：</dt>
										<dd>
											<div class="select w240" style="z-index: 100;">
												<input index-data="" type="hidden" value="请选择">
												<i>请选择</i>
												<em class="icon-52"></em>
												<ul>
													<li index-data=""><span>请选择</span></li>
													<li index-data="1"><span>请选择1</span></li>
													<li index-data="2"><span>请选择2</span></li>
													<li index-data="2"><span>请选择3</span></li>
												</ul>
											</div>
										</dd>
									</dl>
									<dl>
										<dt>备注：</dt>
										<dd><input type="txet" value="" class="input w480"></dd>
									</dl>
								</div>
								<!--
								<div class="editConts">
									<dl>
										<dt>提现金额：</dt>
										<dd>￥1009.88</dd>
									</dl>
									<dl>
										<dt>提现手续费：</dt>
										<dd>￥40.00</dd>
									</dl>
									<dl>
										<dt>实际到账金额：</dt>
										<dd><input type="txet" value="" class="input w240"><span class="mL10">人民币</span></dd>
									</dl>
									<dl>
										<dt>提现状态：</dt>
										<dd>
											<div class="select w240" style="z-index: 100;">
												<input index-data="" type="hidden" value="驳回">
												<i>驳回</i>
												<em class="icon-52"></em>
												<ul>
													<li index-data=""><span>驳回</span></li>
													<li index-data="1"><span>请选择1</span></li>
													<li index-data="2"><span>请选择2</span></li>
													<li index-data="2"><span>请选择3</span></li>
												</ul>
											</div>
										</dd>
									</dl>
									<dl>
										<dt>驳回原因：</dt>
										<dd><input type="txet" value="" class="input w480"></dd>
									</dl>
									<dl>
										<dt>备注：</dt>
										<dd><input type="txet" value="" class="input w480"></dd>
									</dl>
								</div>
								-->
								<!--
								<div class="detailsConts">
									<dl>
										<dt>提现金额：</dt>
										<dd>￥1009.88</dd>
									</dl>
									<dl>
										<dt>提现手续费：</dt>
										<dd>￥40.00</dd>
									</dl>
									<dl>
										<dt>实际到账金额：</dt>
										<dd>￥40.00</dd>
									</dl>
									<dl>
										<dt>备注：</dt>
										<dd>快点处理</dd>
									</dl>
									<dl>
										<dt>审核人员：</dt>
										<dd>zhaofei</dd>
									</dl>
									<dl>
										<dt>审核时间：</dt>
										<dd>2015-03-30</dd>
									</dl>
								</div>
								-->
								
							</div>
							
							<div class="btnMain">
								<a href="javascript:;" class="button">提交</a>
								<a href="javascript:;" class="buttonText">返回</a>
							</div>
						</div>
						<!-- conts end -->
						<!--中间内容区域 end-->
					</div>
				</td>
			</tr>
		</table>
	</div>

	<script type="text/javascript" src="../../js/vendor/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../../js/vendor/component.js"></script>
	<script>
		$(".navItem dt a").on("click",function(){
			$(".navItem dl").removeClass("active");
			$(this).closest("dl").addClass("active");
		});
		$(".navItem dd a").on("click",function(){
			$(".navItem dd a").removeClass("active");
			$(this).addClass("active");
		});


		sele();
	</script>
</body>

</html>
