<div class="container-fluid">
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mymodal">点击</button>
    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelldby="mymodal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="mymodal_label">标题</h4>
                </div>
                <div class="modal-body">这里是内容</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">更改</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
      $("#mymodal").on("hide.bs.modal",function(){
          alert("你点击了关闭按钮")
      });
    });
</script>

