<!-- 面包屑 end-->
<div class="serch">
    <div class="serch_tab">
        <ul>
            <li class="on"><a href="javascript:;">前 台</a></li>
            <li><a href="javascript:;">后 台</a></li>
        </ul>
    </div>
    <!-- serch begin -->
    <div class="serch_main">
        <div class="serch_conts">
            <dl>
                <dt>小笨鸟用户：</dt>
                <dd><input type="text" value="" class="defaultInput" /></dd>
            </dl>
            <dl>
                <dt>IP：</dt>
                <dd><input type="text" value="" class="defaultInput" /></dd>
            </dl>
            <dl>
                <dt>平台：</dt>
                <dd>
                    <div class="select w190">
                        <input index-data="" type="hidden" value="请选择"/>
                        <i>请选择</i>
                        <em class="icon-52"></em>
                        <ul>
                            <li index-data=""><span>请选择</span></li>
                            <li index-data="1"><span>请选择1</span></li>
                            <li index-data="2"><span>请选择2</span></li>
                            <li index-data="2"><span>请选择3</span></li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>站点：</dt>
                <dd>
                    <div class="select w190">
                        <input index-data="" type="hidden" value="请选择"/>
                        <i>请选择</i>
                        <em class="icon-52"></em>
                        <ul>
                            <li index-data=""><span>请选择</span></li>
                            <li index-data="1"><span>请选择1</span></li>
                            <li index-data="2"><span>请选择2</span></li>
                            <li index-data="2"><span>请选择3</span></li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>操作类型：</dt>
                <dd>
                    <div class="select w190">
                        <input index-data="" type="hidden" value="请选择"/>
                        <i>请选择</i>
                        <em class="icon-52"></em>
                        <ul>
                            <li index-data=""><span>请选择</span></li>
                            <li index-data="1"><span>请选择1</span></li>
                            <li index-data="2"><span>请选择2</span></li>
                            <li index-data="2"><span>请选择3</span></li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="serch_conts">
            <dl>
                <dt>操作时间：</dt>
                <dd>
                    <div class="defaultData">
                        <div class="dataBegin">
                            <span class="dataInput" id="startTime"></span>
                            <a href="javascript:;" class="timeStart icon-54"></a>
                        </div>
                        <span class="point"></span>
                        <div class="dataEnd">
                            <span class="dataInput" id="endTime"></span>
                            <a href="javascript:;" class="timeEnd icon-54"></a>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl class="serchDl">
                <dt>&emsp;</dt>
                <dd><a href="javascript:;" class="button">Search</a></dd>
            </dl>
        </div>
    </div>
    <!-- serch end -->
    <div class="addbutton">
        <a href="javascript:;" class="button js-del">删除日志</a>
    </div>
</div>

<!-- conts begin -->
<div class="contsBox">
    <div class="bigTable">
        <table class="layout" border="0" cellspacing="0">
            <thead>
                <tr>
                    <th width="3%"><input type="checkbox" value="1" name="" /></th>
                    <th width="5%">ID</th>
                    <th width="12%">小笨鸟用户</th>
                    <th width="15%">操作时间</th>
                    <th width="10%">IP</th>
                    <th width="8%">平台</th>
                    <th width="8%">站点</th>
                    <th width="14%">操作类型</th>
                    <th width="25%">内容</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox" value="1" name="" /></td>
                    <td>3365</td>
                    <td class="white">luoshuowei@xbniao.com</td>
                    <td>2015-05-23    11:23</td>
                    <td class="white">192.168.90.256</td>
                    <td>eBay</td>
                    <td>澳大利亚</td>
                    <td>商品重新上线失败</td>
                    <td class="white">商品ID：321738673193，刊登标题：All in one Universal TrUniversal</td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="1" name="" /></td>
                    <td>3365</td>
                    <td class="white">luoshuowei@xbniao.com</td>
                    <td>2015-05-23    11:23</td>
                    <td class="white">192.168.90.256</td>
                    <td>eBay</td>
                    <td>澳大利亚</td>
                    <td>商品重新上线失败</td>
                    <td class="white">商品ID：321738673193，刊登标题：All in one Universal TrUniversal</td>
                </tr>
                <tr>
                    <td><input type="checkbox" value="1" name="" /></td>
                    <td>3365</td>
                    <td class="white">luoshuowei@xbniao.com</td>
                    <td>2015-05-23    11:23</td>
                    <td class="white">192.168.90.256</td>
                    <td>eBay</td>
                    <td>澳大利亚</td>
                    <td>商品重新上线失败</td>
                    <td class="white">商品ID：321738673193，刊登标题：All in one Universal TrUniversal</td>
                </tr>
            </tbody>
        </table>
    </div>
	<div class="page" id="topPager">
        <a href="javascript:;" class="firstPage fL" data-displace="first">首页</a>
        <a href="javascript:;" class="prve fL icon-56" data-displace="prev"></a>
        <ul class="pagenumber" id="pager"></ul>
        <a href="javascript:;" class="next fL icon-55" data-displace="next"></a>
        <a href="javascript:;" class="lastPage" data-displace="last">尾页</a>
    </div>
    
</div>
<!-- conts end -->
<!--中间内容区域 end-->