<!-- conts begin -->
<div class="details">
    <h3 class="titleText">角色信息</h3>
    <div class="initBox">
        <form id="serviceForm">
            <dl class="editDl">
                <dt>角色名称：</dt>
                <dd><input type="text" value="${source.groupName}" class="input w240" name="groupName" required data-cnmax="50" data-oldVal='${source.groupName}' maxlength="50" /></dd>
            </dl>
            <dl class="editDl">
                <dt>角色描述：</dt>
                <dd><input type="text" value="${source.remark}" class="input w480" name="remark" required data-cnmax="100" maxlength="100" /></dd>
            </dl>
            <dl class="editDl">
                <dt>角色状态：</dt>
                <dd class="choiceRadio">
                    <label><input value="true" name="isValid" type="radio" {{if source.isValid == true}}checked="true"{{/if}} />启用</label>
                    <label><input value="false" name="isValid" type="radio" {{if source.isValid == false}}checked="true"{{/if}}/>禁用</label>
                </dd>
            </dl>
        </form>    
    </div>
</div>
<div class="details">
    <h3 class="titleText">业务权限</h3>
    <div class="initBox">
        <dl class="changeDl">
            <dt>选择业务：</dt>
            <dd class="typename service">
               
            </dd>
        </dl>
    </div>
</div>
<div class="details">
    <h3 class="titleText">接口权限</h3>
    <div class="initBox">
        <dl class="changeDl">
            <dt>选择接口：</dt>
            <dd class="typename inter">
               
            </dd>
        </dl>
    </div>
</div>
<!-- conts end -->
<!--中间内容区域 end-->
<div class="btnMain">
    <a href="javascript:;" class="button js-submit">保存</a>
    <a href="javascript:;" class="buttonText pad20" data-href="?m=xhr_id_1_19" data-title="系统管理-会员角色管理">取消</a>
</div>

