<div class="serch">
    <div class="addbutton">
        <a href="javascript:;" class="button">添加角色</a>
    </div>
</div>
<!-- conts begin -->

<div class="contsBox">
    <div class="bigTable">
        <table class="" border="0" cellspacing="0">
            <thead>
                <tr>
                    <th>权限名称</th>
                    <th>类型</th>
                    <th>编码（Code）</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><em class="icon-24 addicon"></em>根目录</td>
                    <td>一级菜单</td>
                    <td>C001</td>
                    <td>启用</td>
                    <td>2015-03-24</td>
                    <td><a href="javascript:;" class="blue">添加子权限</a></td>
                </tr>
                <tr>
                    <td><em class="icon-24 addicon"></em>商品管理</td>
                    <td>二级菜单</td>
                    <td>C001</td>
                    <td>启用</td>
                    <td>2015-03-24</td>
                    <td><a href="javascript:;" class="blue">添加子权限</a></td>
                </tr>
                <tr>
                    <td><em class="icon-24 addicon"></em>商品管理</td>
                    <td>一级菜单</td>
                    <td>C001</td>
                    <td>启用</td>
                    <td>2015-03-24</td>
                    <td><a href="javascript:;" class="blue">添加子权限</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- conts end -->
					