<div class="serch">
    <!-- serch begin -->
    <form id="searchForm">
        <div class="serch_main">
            <div class="serch_conts">
                <dl>
                    <dt>仓库编码：</dt>
                    <dd><input type="text" value="" class="defaultInput" name="storeCode"/></dd>
                </dl>
                <dl>
                    <dt>仓库名称：</dt>
                    <dd><input type="text" value="" class="defaultInput" name="storeName"/></dd>
                </dl>
                <dl>
                    <dt>仓库地址：</dt>
                    <dd><input type="text" value="" class="defaultInput" name="address"/></dd>
                </dl>
            </div>
            <div class="serch_conts">
                <dl>
                    <dt>仓库所属国家：</dt>
                    <dd>
                        <div class="select w190">
                            <input index-data="" type="hidden" value="请选择" name="country"/>
                            <i>否</i>
                            <em class="icon-52"></em>
                            <ul>
                                <li index-data=""><span>请选择</span></li>
                                {{if source.countries.length}}
                                {{each(i,item) source.countries}}
                                <li index-data="${item.country}"><span>${item.country}</span></li>
                                {{/each}}
                                {{/if}}
                            </ul>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>货币单位：</dt>
                    <dd>
                        <div class="select w190">
                            <input index-data="" type="hidden" value="请选择" name="currencyUnit"/>
                            <i>否</i>
                            <em class="icon-52"></em>
                            <ul>
                                <li index-data=""><span>请选择</span></li>
                                {{if source.countries.length}}
                                {{each(i,item) source.countries}}
                                <li index-data="${item.currencyUnit}"><span>${item.currencyUnit}</span></li>
                                {{/each}}
                                {{/if}}
                            </ul>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>&emsp;</dt>
                    <dd><a href="javascript:;" class="button js-search">Search</a></dd>
                </dl>
            </div>
        </div>
    </form>
    <!-- serch end -->
    <div class="addbutton">
        {{if source.operateData.moduleData && source.operateData.actionData && source.operateData.operate['HWC20102001']}}
        <a data-title="海外仓业务管理-仓库管理-新增" data-href="?m=xhr_id_20100000_20102000_add" class="button" href="javascript:;">新增</a>
        {{/if}}
        {{if source.operateData.moduleData && source.operateData.actionData && source.operateData.operate['HWC20102003']}}
        <a href="javascript:;" class="buttonText pad20 js-batchDelete">删除</a>
        {{/if}}
        <em class="mL50 none">您所搜索的，共有<i id='searchTotalCount'>${source.totalCount}</i>条内容符合。</em>
    </div>
</div>
<!-- conts begin -->
<div class="contsBox">
    <div class="bigTable">
        <table border="0" cellspacing="0" r-box="all0">
            <thead>
            <tr>
                <th width="30"><input type="checkbox" name="all0"/></th>
                <th>仓库编码</th>
                <th>仓库名称</th>
                <th>所属国家</th>
                <th>货币单位</th>
                <th>仓库地址</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="listCon"></tbody>
        </table>
    </div>
    <div class="page" id="topPager"></div>
</div>
<script id='pageListTmpl' type='text/x-jquery-tmpl'>
    <a href="javascript:;" class="firstPage fL" data-displace="first">首页</a>
    <a href="javascript:;" class="prve fL icon-56" data-displace="prev"></a>
    <ul class="pagenumber" id="pager"></ul>
    <a href="javascript:;" class="next fL icon-55" data-displace="next"></a>
    <a href="javascript:;" class="lastPage" data-displace="last">尾页</a>

</script>
<script id="listTmpl" type="text/x-jquery-tmpl">
    _[{if list.length}]_
    _[{each(i,c) list}]_
    <tr>
        <td><input type="checkbox" data-id="$_[c.id]_" name="accountId"/></td>
        <td>$_[c.storeCode]_</td>
        <td>$_[c.storeName]_</td>
        <td>$_[c.country]_</td>
        <td>$_[c.currencyUnit]_</td>
        <td><p class="Truncate">$_[c.address]_</p></td>
        <td>
        _[{if operateData.moduleData && operateData.actionData && operateData.operate['HWC20102004']}]_
            <a class="blue mR10" data-href="?m=xhr_id_20100000_20102000_view&id=$_[c.id]_" data-title="海外仓系统管理-国家设置-详情">详情</a>
            _[{/if}]_
            _[{if operateData.moduleData && operateData.actionData && operateData.operate['HWC20102002']}]_
            <a class="blue mR10" data-href="?m=xhr_id_20100000_20102000_edit&id=$_[c.id]_" data-title="海外仓系统管理-国家设置-修改">修改</a>
            _[{/if}]_
            _[{if operateData.moduleData && operateData.actionData && operateData.operate['HWC20102003']}]_
            <a href="javascript:;" class="blue js-delete" data-id="$_[c.id]_">删除</a>
            _[{/if}]_
        </td>
    </tr>
    _[{/each}]_
        _[{else}]_
    <tr>
        <td colspan="7">暂无数据</td>
    </tr>
    _[{/if}]_
</script>
