<div class="serch">
    <!-- serch begin -->
    <form id="searchForm">
    <div class="serch_main">
        <div class="serch_conts">
            <dl>
                <dt>提交人：</dt>
                <dd><input type="text" name="userName" class="defaultInput" /></dd>
            </dl>
            <dl>
                <dt>来源：</dt>
                <dd>
                    <div class="select w190">
                        <input index-data="" name="source" type="hidden" value=""/>
                        <i>否</i>
                        <em class="icon-52"></em>
                        <ul>
                            <li index-data=""><span>全部</span></li>
                            {{each(i,e) getConstName("OwmsDataSourceEnum")}}
                            <li index-data="${i}"><span>${e}</span></li>
                            {{/each}}
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>发货单号：</dt>
                <dd><input type="text" name="invoiceCode" value="" class="defaultInput" /></dd>
            </dl>
            <dl>
                <dt>小笨鸟订单号：</dt>
                <dd><input type="text" name="orderCode" value="" class="defaultInput" /></dd>
            </dl>
            <dl>
                <dt>原始订单号：</dt>
                <dd><input type="text" name="originalCode" value="" class="defaultInput" /></dd>
            </dl>
            <dl>
                <dt>发货仓库：</dt>
                <dd>
                    <div class="select w190">
                        <input index-data="" name="sendStore" type="hidden" value=""/>
                        <i>否</i>
                        <em class="icon-52"></em>
                        <ul>
                            <li index-data=""><span>请选择</span></li>
                            {{each(i,e) source.stores}}
                            <li index-data="${id}"><span>${storeName}</span></li>
                            {{/each}}
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>处理状态：</dt>
                <dd>
                    <div class="select w190">
                        <input index-data="" name="status" type="hidden" value=""/>
                        <i>否</i>
                        <em class="icon-52"></em>
                        <ul>
                            <li index-data=""><span>请选择</span></li>
                            {{each(i,e) getConstName("OwmsInvoiceStatusEnum")}}
                            <li index-data="${i}"><span>${e}</span></li>
                            {{/each}}
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>提交时间：</dt>
                <dd>
                    <div class="defaultData">
                        <div class="dataBegin">
                            <span class="dateInput" data-operator="ge" data-key="submitTime" id="submitTime-start"></span>
                            <a href="javascript:;" class="timeStart icon-54"></a>
                        </div>
                        <span class="point"></span>
                        <div class="dataEnd">
                            <span class="dateInput" data-operator="le" data-key="submitTime" id="submitTime-end"></span>
                            <a href="javascript:;" class="timeEnd icon-54"></a>
                        </div>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>总运费（CNY）：</dt>
                <dd>
                    <div class="defaultPrice">
                        <input type="text" name="totalFreight" data-operator="ge" data-key="totalFreight" class="priceBegin" pattern="^\d+(\.\d{1,2})?$" />
                        <span class="point"></span>
                        <input type="text" name="totalFreight" data-operator="le" data-key="totalFreight" class="priceEnd" pattern="^\d+(\.\d{1,2})?$"/>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt>&emsp;</dt>
                <dd><a href="javascript:;" class="button js-search">Search</a></dd>
            </dl>
        </div>
    </div>
    </form>
    <!-- serch end -->
    <div class="addbutton">
        {{if source.operateData.moduleData && source.operateData.actionData && source.operateData.operate['HWC20107001']}}
        <a href="javascript:;" class="button mR20 js-batchCancelSend">取消发货</a>
        {{/if}}
        {{if source.operateData.moduleData && source.operateData.actionData && source.operateData.operate['HWC20107002']}}
        <a href="javascript:;" class="buttonText js-export">导出发货单</a>
        {{/if}}
        <em class="mL50 none">您所搜索的，共有<i id='searchTotalCount'>${source.totalCount}</i>条内容符合。</em>
    </div>
</div>
<!-- conts begin -->
<div class="contsBox">
    <div class="bigTable">
        <table class="highTable" border="0" cellspacing="0" r-box="all">
            <thead>
            <tr>
                <th width="20"><input type="checkbox" name="all"></th>
                <th width="">发货单号</th>
                <th width="60">提交人</th>
                <th width="60">来源</th>
                <th width="">小笨鸟订单号</th>
                <th width="">原始订单号</th>
                <th width="150">提交时间</th>
                <th width="">发货仓库</th>
                <th width="">总运费</th>
                <th width="">处理状态</th>
                <th width="">备注</th>
                <th width="">操作</th>
            </tr>
            </thead>
            <tbody id="listCon"></tbody>
        </table>
    </div>
    <div class="page" id="topPager"></div>
    <form action="/owms/invoice/export" method="post" id="exportForm">
       <input class="export none" type="submit" value="下载"/>
    </form>
</div>
<div class="layerBoxCon none"></div>
<script id="pageListTmpl" type="text/x-jquery-tmpl">
    <a href="javascript:;" class="firstPage fL" data-displace="first">首页</a>
    <a href="javascript:;" class="prve fL icon-56" data-displace="prev"></a>
    <ul class="pagenumber" id="pager"></ul>
    <a href="javascript:;" class="next fL icon-55" data-displace="next"></a>
    <a href="javascript:;" class="lastPage" data-displace="last">尾页</a>
</script>
<script id="listTmpl" type="text/x-jquery-tmpl">
    _[{if list.length}]_
    _[{each(i,c) list}]_
    <tr data-id="$_[c.id]_" data-status="$_[c.status]_">
        <td><input type="checkbox" name=""></td>
        <td>$_[c.invoiceCode]_</td>
        <td>$_[c.userName]_</td>
        <td>$_[getConstName("OwmsDataSourceEnum",c.source)]_</td>
        <td>$_[c.orderCode]_</td>
        <td>$_[c.originalCode]_</td>
        <td>$_[c.submitTime]_</td>
        <td>$_[c.sendStoreName]_</td>
        <td>$_[c.totalFreight]_</td>
        <td>$_[getConstName("OwmsInvoiceStatusEnum",c.status)]_</td>
        <td><p class="Truncate" style="width:160px">$_[c.remark || '--']_</p></td>
        <td>
        _[{if operateData.moduleData && operateData.actionData && operateData.operate['HWC20107005']}]_
            <a class="blue mR10" data-href="?m=xhr_id_20100000_20107000_view&id=$_[c.id]_" data-title="海外仓业务管理-发货单管理-详情">详情</a>
            _[{/if}]_
            _[{if [1,6,7].indexOf(c.status)==-1}]_
            _[{if operateData.moduleData && operateData.actionData && operateData.operate['HWC20107004']}]_
            <a href="javascript:;" class="blue mR10 js-cancelSend">取消</a>
             _[{/if}]_
             _[{/if}]_
             _[{if operateData.moduleData && operateData.actionData && operateData.operate['HWC20107003']}]_
            <a href="javascript:;" class="blue mR10 js-editRemark" data-remark="$_[c.remark]_">备注</a>
            _[{/if}]_
        </td>
    </tr>
    _[{/each}]_
    _[{else}]_
    <tr>
        <td colspan="12">暂无数据</td>
    </tr>
    _[{/if}]_
</script>
