		<div class="app_location">
			<p>位置：<a href="#">我是运营编辑</a>><a href="#">摇一摇</a>><a href="#">应用管理</a>><span>编辑</span></p>
		</div>
		<div class="app_list">
			<div class="app_finish_pro">
				<ul>
					<li class="pro_one"><p class="position_one">基本信息</p></li>
					<li class="pro_two"><p class="position_two">奖品信息</p></li>
					<li class="pro_three_on"><p class="on position_three">完成</p></li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="app_finish_img">
				<p><img src="img/tmp1.png"></p>
				<h6>四川旅游</h6>
				<h4>完成</h4>
			</div>
		</div>
	<script src="js/controllers/app_finish_ctrl.js"></script>