		<div class="app_location">
			<p>位置：<a href="#">我是运营编辑</a>><a href="#">摇一摇</a>>应用管理</p>
		</div>
		<div class="app_look">
			<p class="ac_hd"><span>基本信息</span><a href="#/app_information" class="ac_bm_btn">编辑</a></p>
			<table class="look_tbl_content">
					<tbody class="address_list_comm">
						<tr>
							<td>应用</td>
							<td class="app_logo"><img src="img/temp1.png"><p>等着我</p></td>
						</tr>
						<tr>
							<td>奖品分类</td>
							<td></td>
						</tr>
						<tr>
							<td>实物奖品领取有效期</td>
							<td>虚拟奖品 实物奖品</td>
						</tr>
						<tr>
							<td>领取方式</td>
							<td>送货上门 用户自提</td>
						</tr>
						<tr>
							<td>自提地址</td>
							<td>北京市丰台区开阳路1号瀚海花园大厦2楼</td>
						</tr>
						<tr>
							<td>联系人</td>
							<td>某某</td>
						</tr>
						<tr>
							<td>联系方式</td>
							<td>010-45664556</td>
						</tr>
					</tbody>
				</table>
		</div>
		<div class="app_look">
			<p class="ac_hd"><span>奖品信息</span><a href="#/app_information" class="ac_bm_btn">编辑</a></p>
			<table class="look_tbl_content">
					<thead>
						<tr class="thead">
							<td width="10%">奖品ID</td>
							<td width="90%">奖品名称</td>
						</tr>
					</thead>
					<tbody class="address_list_comm">
						<tr>
							<td>1114</td>
							<td>积分</td>
						</tr>
						<tr>
							<td>554</td>
							<td>信诺机票优惠劵</td>
						</tr>
						<tr>
							<td>4514</td>
							<td>信诺机票优惠劵</td>
						</tr>
						<tr>
							<td>14541</td>
							<td>信诺机票优惠劵</td>
						</tr>
						<tr>
							<td>4144</td>
							<td>信诺机票优惠劵</td>
						</tr>
						<tr>
							<td>44444</td>
							<td>信诺机票优惠劵</td>
						</tr>
						<tr>
							<td>4785</td>
							<td>信诺机票优惠劵</td>
						</tr>
					</tbody>
				</table>
		</div>
	<!--<script src="js/controllers/app_look_ctrl.js"></script>-->