		<div class="app_location">
			<p>位置：<a href="#">我是运营编辑</a>><a href="#">摇一摇</a>><a href="#">场次管理</a>><span>新建场次</span></p>
		</div>
		<div class="app_list">
			<div class="app_edit_hd">
				<div class="app_edit_pro">
					<ul>
						<li class="pro_one"><p class="position_one">基本信息</p></li>
						<li class="pro_two"><p class="position_two">配置奖品</p></li>
						<li class="new_three"><p class="position_new_three">应用分发</p></li>
						<li class="new_four_on"><p class="on position_new_four">完成</p></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="number_finish">
				<h4>完成！等待管理员审核</h4>
				<h6>场次ID:514581</h6>
				<p>提示信息</p>
			</div>
		</div>