	<!-- conts begin -->
	<div class="details">
		<div class="state">
			<p>审核状态：<span>编辑待审核</span></p>
			<p>审核状态：<span>编辑失败</span></p><!-- 编辑失败时没有审核状态 -->
		</div>
		<h3 class="titleText">商品信息</h3>
		<div class="stateText">
			<dl class="textDl">
				<dt>刊登标题：</dt>
				<dd>jfioaeofasdgperifgdkfgjsldfgjis</dd>
				<dd class="red">是打了卡的感觉了空间都是不了解啊股份来看</dd>
			</dl>
			<dl class="textDl">
				<dt>刊登副标题：</dt>
				<dd>papeiajsdoiasdhga</dd>
				<dd class="red">是打了卡的感觉了空间都是不了解啊股份来看</dd>
			</dl>
		</div>
		<ul class="tabBtn mB15">
			<li class="this"><a href="javascript:;">基本信息</a></li>
			<li><a href="javascript:;">商品描述</a></li>
			<li><a href="javascript:;">交易详情</a></li>
		</ul>
		<div class="tabmain">
			<!-- 基本信息 begin-->
			<div class="details none">
				<div class="otherConts">
					<div class="details_L">
						<dl>
							<dt>小笨鸟用户名：</dt>
							<dd>bestbird@163.com</dd>
						</dl>
						<dl>
							<dt>eBay用户名：</dt><!-- eBay用户名/amazon用户名/newegg用户名 -->
							<dd>username@163.com</dd>
						</dl>
						<dl>
							<dt>规格：</dt>
							<dd>单规格</dd>
						</dl>
						<dl>
							<dt>站点：</dt>
							<dd>美国站</dd><!-- 根据平台选择 -->
						</dl>
						<dl>
							<dt>商品货号/SKU： </dt>
							<dd>2749058372940</dd>
						</dl>
						<!--amazon
						<dl>
							<dt>可售数量：</dt>
							<dd>12（共享库存）</dd>
						</dl>
						<dl>
							<dt>上线时间：</dt>
							<dd>2015-03-24</dd>
						</dl>
						<dl>
							<dt>销售价格：</dt>
							<dd>$7839.00</dd>
						</dl>
						<dl>
							<dt>商品原价：</dt>
							<dd>$7839.00</dd>
						</dl>
						<dl>
							<dt>促销价格：</dt>
							<dd>$7839.00</dd>
						</dl>
						<dl>
							<dt>促销时间：</dt>
							<dd>2015-03-24 — 2015-06-23</dd>
						</dl>
						<dl>
							<dt>UPC：</dt>
							<dd>02943848402928</dd>
						</dl>
						<dl>
							<dt>商品分类：</dt>
							<dd>Baby & Peuter > Babyschoenen > Overige Babyschoenen</dd>
						</dl>
						<dl>
							<dt>商品关键字1：</dt>
							<dd>大大</dd>
						</dl>
						<dl>
							<dt>商品关键字2：</dt>
							<dd>小小</dd>
						</dl>
						<dl>
							<dt>商品特点1：</dt>
							<dd>大大</dd>
						</dl>
						<dl>
							<dt>商品特点2：</dt>
							<dd>小小</dd>
						</dl>
						-->
						<!--newegg
						<dl>
							<dt>可售数量：</dt>
							<dd>12（共享库存）</dd>
						</dl>
						<dl>
							<dt>上线时间：</dt>
							<dd>2015-03-24</dd>
						</dl>
						<dl>
							<dt>销售价格：</dt>
							<dd>$7839.00</dd>
						</dl>
						<dl>
							<dt>建议售价：</dt>
							<dd>$7839.00</dd>
						</dl>
						<dl>
							<dt>UPC：</dt>
							<dd>02943848402928</dd>
						</dl>
						<dl>
							<dt>厂商产品编码：</dt>
							<dd>284794057</dd>
						</dl>
						<dl>
							<dt>商品分类：</dt>
							<dd>Baby & Peuter > Babyschoenen</dd>
						</dl>
						-->
						<dl>
							<dt>商品状况：</dt>
							<dd>全新</dd>
						</dl>
						<dl>
							<dt>可售数量：</dt>
							<dd>12（共享库存）</dd>
							<dd class="red">11（共享库存）</dd>
						</dl>
						<dl>
							<dt>销售方式：</dt>
							<dd>固价</dd>
						</dl>
						<dl>
							<dt>销售价格：</dt>
							<dd>$7839.00</dd>
						</dl>
						<dl>
							<dt>刊登天数：</dt>
							<dd>12天</dd>
							<dd class="red">12天</dd>
						</dl>
					</div>
					<div class="details_R">
						<dl>
							<dt>商品尺寸：</dt>
							<dd>
								<span class="mR10">长(999)</span>
								<span class="mR10">宽(999)</span>
								<span class="mR10">高(999)</span>
							</dd>
							<dd class="red">
								<span class="mR10">长(999)</span>
								<span class="mR10">宽(999)</span>
								<span class="mR10">高(999)</span>
							</dd>
						</dl>
						<dl>
							<dt>商品重量(kg)：</dt>
							<dd>999</dd>
							<dd class="red">999</dd>
						</dl>
						<dl>
							<dt>商品属性：</dt>
							<dd>color（red）</dd>
							<dd class="red">color（red）</dd>
							<dd>size（25）</dd>
							<dd class="red">size（25）</dd>
							<dd>marliol（wood）</dd>
							<dd class="red">marliol（wood）</dd>
							<dd>type（new）</dd>
							<dd class="red">type（new）</dd>
						</dl>
					</div>
				</div>
				<div class="">
					<dl class="textDl">
						<dt>商品分类：</dt>
						<dd>Baby & Peuter > Babyschoenen > Overige Babyschoenen</dd>
					</dl>
					<dl class="textDl">
						<dt>商品第二分类：</dt>
						<dd>Baby & Peuter > Babyschoenen > Overige Babyschoenen</dd>
					</dl>
				</div>
			</div>
			<!-- 基本信息 end-->
			<!-- 商品描述 begin-->
			<div class="picDiscribe details none">
				<div class="pic_show">
					<span class="pic_main">
						<img src="../../images/img_02.png" alt="">
					</span>
					<span>
						<img src="../../images/img_02.png" alt="">
					</span>
					<span>
						<img src="../../images/img_02.png" alt="">
						<img class="pic_alt" src="../../images/img_02.png" alt="">
					</span>
					<span>
						<img src="../../images/img_02.png" alt="">
					</span>
					<span>
						<img src="../../images/img_02.png" alt="">
					</span>
					<span>
						<img src="../../images/img_02.png" alt="">
						<img class="pic_alt" src="../../images/img_02.png" alt="">
					</span>
					<span>
						<img src="../../images/img_02.png" alt="">
					</span>
					<span>
						<img src="../../images/img_02.png" alt="">
						<img class="pic_alt" src="../../images/img_02.png" alt="">
					</span>
					<span>
						<img src="../../images/img_02.png" alt="">
					</span>
				</div>
				<div class="wordDiscribe block break">
					<em>sdfsd
					</em>
					<em class="red">sdf
					</em>
				</div>
			</div>
			<!-- 商品描述 end-->
			<!-- 交易详情 begin-->
			<div class="details">
				<div class="">
					<dl class="textDl">
						<dt>支付方式：</dt>
						<dd>PayPal | bestlittlebird2014@163.com</dd>
					</dl>
					<dl class="textDl">
						<dt>订单处理时间：</dt>
						<dd>3工作日</dd>
						<dd class="red">3工作日</dd>
					</dl>
					<dl class="textDl">
						<dt>发货类型：</dt>
						<dd>自有库发货（小笨鸟海外仓发货）</dd>
						<dd class="red">自有库发货（小笨鸟海外仓发货）</dd>
					</dl>
					<dl class="textDl">
						<dt>商品发货地：</dt>
						<dd>中国北京大兴区华商创意中心</dd>
						<dd class="red">中国北京大兴区华商创意中心</dd>
					</dl>
				</div>
				<div class="smallTable">
					<table class="" cellspacing="0" border="0">
						<thead>
							<tr>
								<th>货运方式</th>
								<th>货运服务</th>
								<th>运费</th>
								<th>运送国家</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>本地货运</td>
								<td>Other Services;Voordelige verzending uit het buitenland</td>
								<td>$20.00 </td>
								<td>—</td>
							</tr>
							<tr class="red">
								<td>本地货运</td>
								<td>Other Services;Voordelige verzending uit het buitenland</td>
								<td>$20.00 </td>
								<td>—</td>
							</tr>
							<tr>
								<td>国际货运</td>
								<td>UPS </td>
								<td>$20.00 </td>
								<td>全球</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="">
					<dl class="textDl">
						<dt>不运送国家：</dt>
						<dd>美国、澳大利亚、加拿大、日本、韩国</dd>
					</dl>
					<dl class="textDl">
						<dt>退货政策：</dt>
						<dd>接收退货</dd>
					</dl>
					<dl class="textDl">
						<dt>退货运费承担方：</dt>
						<dd>买家</dd>
					</dl>
					<dl class="textDl">
						<dt>退货方式：</dt>
						<dd>退款</dd>
					</dl>
					<dl class="textDl">
						<dt>退货天数：</dt>
						<dd>14天</dd>
					</dl>
					<dl class="textDl">
						<dt>退货描述：</dt>
						<dd>没钱</dd>
					</dl>
				</div>
				<!--amazon/newegg
				<div class="">
					<dl class="textDl">
						<dt>订单处理时间：</dt>
						<dd>3个工作日</dd>
					</dl>
					<dl class="textDl">
						<dt>发货类型：</dt>
						<dd>自有库发货（小笨鸟海外仓发货）</dd>
					</dl>
					<dl class="textDl">
						<dt>商品发货地：</dt>
						<dd>中国北京大兴华商创意中心</dd>
					</dl>
					<dl class="textDl">
						<dt>运费：</dt>
						<dd>免运费</dd>
					</dl>
					<dl class="textDl">
						<dt>退货政策：</dt>
						<dd>接收退货</dd>
					</dl>
					<dl class="textDl">
						<dt>退货运费承担方：</dt>
						<dd>买家</dd>
					</dl>
					<dl class="textDl">
						<dt>退货方式：</dt>
						<dd>退款</dd>
					</dl>
					<dl class="textDl">
						<dt>退货天数：</dt>
						<dd>14天</dd>
					</dl>
					<dl class="textDl">
						<dt>退货描述：</dt>
						<dd>没钱</dd>
					</dl>
				</div>
				-->
			</div>
			<!-- 交易详情 end-->
		</div>
		<div class="">
			<h3 class="titleText">审核操作</h3>
			<div class="mT20">
				<dl class="editDl">
					<dt>审核操作：</dt>
					<dd class="choiceRadio">
						<label><input class="" name="Fruit" type="radio" value="">审核通过</label>
						<label><input class="" name="Fruit" type="radio" value="">驳回</label>
					</dd>
				</dl>
				<dl class="editTXA">
					<dt>驳回原因：</dt>
					<dd>
						<textarea class="w480 h90"></textarea>
					</dd>
				</dl>
			</div>
		</div>
	</div>
<div class="btnMain">
	<a class="button" href="javascript:;">提交</a><a href="javascript:;" class="buttonText pad20">返回</a>
</div>
