<div class="serch">
    <form id='publishSearchForm'>
        <!-- tab 切换 begin -->
        <div class="serch_tab">
            <ul>
                {{if source.operateData.moduleData && source.operateData.actionData &&
                source.operateData.operate['h030201']}}
                <li class="{{if source.platform=='1'}}on{{/if}}"><a href="javascript:;"
                                                                    data-href='?m=xhr_id_95_109&p=1'>eBay</a></li>
                {{/if}}
                {{if source.operateData.moduleData && source.operateData.actionData &&
                source.operateData.operate['h030202']}}
                <li class="{{if source.platform=='2'}}on{{/if}}"><a href="javascript:;"
                                                                    data-href='?m=xhr_id_95_109&p=2'>amazon</a></li>
                {{/if}}
                {{if source.operateData.moduleData && source.operateData.actionData &&
                source.operateData.operate['h030203']}}
                <li class="{{if source.platform=='3'}}on{{/if}}"><a href="javascript:;"
                                                                    data-href='?m=xhr_id_95_109&p=3'>newegg</a></li>
                {{/if}}
            </ul>
        </div>
        <!-- tab 切换 end -->
        <!-- serch begin -->
        <div class="serch_main">
            <div class="serch_conts">
                <dl>
                    <dt>刊登标题 :</dt>
                    <dd><input type="text" value="" class="defaultInput" name='title'></dd>
                </dl>
                <dl>
                    <dt>商品货号/SKU :</dt>
                    <dd><input type="text" value="" class="defaultInput" name='sku'></dd>
                </dl>
                <dl>
                    <dt>小笨鸟用户名 :</dt>
                    <dd><input type="text" value="" class="defaultInput" name='userName'></dd>
                </dl>
            </div>
            <div class="serch_conts">
            <dl>
                <dt>用户类型：</dt>
                <dd>
        					<div class="select w190">
        						<input index-data="" type="hidden" value="请选择" name='userType'>
        						<i class="" index-data="">请选择</i>
        						<em class="icon-52"></em>
        						<ul style="display: none;">
        							<li index-data=""><span>请选择</span></li>
        							<li index-data="1"><span>自营</span></li>
        							<li index-data="2"><span>第三方商家(非自营)</span></li>
        						</ul>
        					</div>
        				</dd>
            </dl>
        </div>
            <div class="serch_conts">
                <dl>
                    <dt>{{if source.platform=='1'}}eBay用户名{{else source.platform=='2'}}amazon用户名{{else
                        source.platform=='3'}}newegg用户名{{/if}}：
                    </dt>
                    <dd><input type="text" value="" class="defaultInput" name='siteUserName'></dd>
                </dl>
                <dl>
                    <dt>规格：</dt>
                    <dd>
                        <div class="select w190">
                            <input index-data="" type="hidden" value="请选择" name='variationType'>
                            <i class="" index-data="">请选择</i>
                            <em class="icon-52"></em>
                            <ul style="display: none;">
                                <li index-data=""><span>请选择</span></li>
                                <li index-data="singleVariation"><span>单规格</span></li>
                                <li index-data="multiVariation"><span>多规格</span></li>
                            </ul>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>站点：</dt>
                    <dd>
                        <div class="select w190">
                            <input index-data="" type="hidden" value="请选择" name='site'>
                            <i class="" index-data="">请选择</i>
                            <em class="icon-52"></em>
                            <ul style="display: none;">
                                {{each(i,site) source.siteList}}
                                <li index-data="${site.id}"><span>${site.cnName}</span></li>
                                {{/each}}
                            </ul>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="serch_conts">
                {{if source.platform=='1'}}
                <dl>
                    <dt>价格方式：</dt>
                    <dd>
                        <div class="select w190">
                            <input index-data="" type="hidden" value="请选择" name='listingType'>
                            <i class="" index-data="">请选择</i>
                            <em class="icon-52"></em>
                            <ul style="display: none;">
                                <li index-data="FixedPriceItem"><span>固价</span></li>
                                <li index-data="Chinese"><span>竞价</span></li>
                            </ul>
                        </div>
                    </dd>
                </dl>
                {{/if}}
                <!-- 			<dl>
                                <dt>商品状态：</dt>
                                <dd>
                                    <div class="select w190" style="z-index: 0;">
                                        <input index-data="" type="hidden" value="请选择">
                                        <i class="" index-data="">请选择</i>
                                        <em class="icon-52"></em>
                                        <ul style="display: none;">
                                            <li index-data=""><span>请选择</span></li>
                                            <li index-data="1"><span>请选择1</span></li>
                                            <li index-data="2"><span>请选择2</span></li>
                                            <li index-data="2"><span>请选择3</span></li>
                                        </ul>
                                    </div>
                                </dd>
                            </dl> -->
                <dl>
                    <dt>下线原因类型：</dt>
                    <dd>
                        <div class="select w190" id='jd-endType'>
                            <input index-data="" type="hidden" value="请选择" name='endType' data-target='jd-endType'>
                            <i class="" index-data="">请选择</i>
                            <em class="icon-52"></em>
                            <ul style="display: none;">
                                <li index-data=""><span>请选择</span></li>
                                {{each(i,types) source.offlineReasonType}}
                                <li index-data="${types.name}"><span>${types.value}</span></li>
                                {{/each}}
                            </ul>
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="serch_conts">
                <dl>
                    <dt>下线时间：</dt>
                    <dd>
                        <div class="defaultData">
                            <div class="dataBegin">
                                <span class="dataInput" id="startTime" name='startEndDate'></span>
                                <a href="javascript:;" class="stimeStart icon-54"></a>
                            </div>
                            <span class="point"></span>

                            <div class="dataEnd">
                                <span class="dataInput" id="endTime" name='endEndDate'></span>
                                <a href="javascript:;" class="stimeEnd icon-54"></a>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>&emsp;</dt>
                    <dd>
                        {{if source.platform=='1'}}
                        {{if source.operateData.moduleData && source.operateData.actionData &&
                        source.operateData.operate['h030201'] && source.operateData.operate['h030201'].childOpt &&
                        source.operateData.operate['h030201'].childOpt['h03020101']}}
                        <a href="javascript:" class="button js-publishSearch">Search</a>
                        {{/if}}
                        {{else source.platform=='2'}}
                        {{if source.operateData.moduleData && source.operateData.actionData &&
                        source.operateData.operate['h030202'] && source.operateData.operate['h030202'].childOpt &&
                        source.operateData.operate['h030202'].childOpt['h03020201']}}
                        <a href="javascript:" class="button js-publishSearch">Search</a>
                        {{/if}}
                        {{else source.platform=='3'}}
                        {{if source.operateData.moduleData && source.operateData.actionData &&
                        source.operateData.operate['h030203'] && source.operateData.operate['h030203'].childOpt &&
                        source.operateData.operate['h030203'].childOpt['h03020301']}}
                        <a href="javascript:" class="button js-publishSearch">Search</a>
                        {{/if}}
                        {{/if}}

                    </dd>
                </dl>
            </div>
        </div>
        <!--     <div class="addbutton">
                <a href="#" class="button mR20">禁用</a>
                <a href="#" class="buttonText">启用</a>
            </div> -->
        <!-- serch end -->
    </form>
    <div class="addbutton none">您所搜索的，共有<i id="searchTotalCount">${source.page.totalCount}</i>条内容符合。</div>
</div>
<!-- conts begin -->
<div class="contsBox">
    <div class="bigTable">
        <table class="" border="0" cellspacing="0" r-box="all">
            <thead>
            <tr>
                <th width="2%"><input type="checkbox" value="1" name="all"></th>
                <th width="7%">{{if source.platform=='1'}}eBay用户名{{else source.platform=='2'}}amazon用户名{{else
                    source.platform=='3'}}newegg用户名{{/if}}
                </th>
                <th width="10%">图片</th>
                <th width="5%">规格</th>
                <th width="16%">刊登标题</th>
                <th width="10%">小笨鸟用户名</th>
                <th width="10%">商品货号/SKU</th>
                <th width="8%">站点</th>
                <th width="5%">可售数量</th>
                <th width="5%">销售价格</th>
                <th width="8%">下线时间</th>
                <th width="10%">下线原因类型</th>
                <th width="8%">操作</th>
            </tr>
            </thead>
            <tbody class="picOn" id='publishListCon'>
            </tbody>
        </table>
    </div>
    <div class="page" id="topPager">
    </div>
</div>
<!-- 分页模板 -->
<script id='pageListCon' type='text/x-jquery-tmpl'>
    <a href="javascript:;" class="firstPage fL" data-displace="first">首页</a>
    <a href="javascript:;" class="prve fL icon-56" data-displace="prev"></a>
    <ul class="pagenumber" id="pager"></ul>
    <a href="javascript:;" class="next fL icon-55" data-displace="next"></a>
    <a href="javascript:;" class="lastPage" data-displace="last">尾页</a>

</script>

<script id='publishListTmpl' type='text/x-jquery-tmpl'>
_[{if list.length}]_
    _[{each(i,list) list}]_
        <tr>
            <td><input type="checkbox" value="$_[list.id]_" name="checkId"></td>
            <td>$_[list.account]_</td>
            <td><img src="images/defineImg.png" data-defaultImg='images/defineImg.png' data-fileid='$_[list.id]_' data-type='0' class="imgBorder" width='50'/></td>
            <td>_[{if list.variationType=='multiVariation'}]_ 多<span class="mL10">$_[list.variationCount]_</span>_[{else}]_ 单 _[{/if}]_</td>
            <td>$_[list.title]_</td>
            <td>$_[list.userName]_</td>
            <td>_[{if list.sku.indexOf('-')!='-1'}]_$_[list.sku.slice(list.sku.indexOf('-')+1)]__[{else}]_$_[list.sku]__[{/if}]_</td>
            <td>_[{if siteList[list.site]}]_$_[siteList[list.site].cnName]__[{/if}]_</td>
            <td>$_[list.stock]_</td>
            <td>_[{if list.listingType=="listingType"}]_固价_[{else list.listingType=="Chinese"}]_竞价_[{/if}]_ $_[list.price]_</td>
            <td>$_[list.endDate]_</td>
            
            <td><span class="block"><p class="red">
            _[{each(i,entype) offlineReasonType}]_
                _[{if entype.name==list.endType}]_
                    $_[entype.value]_
                _[{/if}]_
            _[{/each}]_
            </p>
            <!--强制下线-->
            _[{if list.endType=='EndSystemForce'}]_
                <a href="javascript:;" class="blue js-viewReason" data-reason='_[{if list.endReason}]_$_[list.endReason]__[{else}]_暂无原因_[{/if}]_'>查看原因</a>
            _[{/if}]_
            </span>
            </td>
            <td>
            _[{if platform=='1'}]_
                _[{if operateData.moduleData && operateData.actionData && operateData.operate['h030201'] && operateData.operate['h030201'].childOpt && operateData.operate['h030201'].childOpt['h03020102']}]_
                    <a href="javascript:;" class="blue" data-href='?m=xhr_id_95_109_view&id=$_[list.id]_&p=$_[platform]_'  data-title='商品管理-下线商品管理-查看'>查看</a>
                _[{/if}]_
            _[{else platform=='2'}]_
                _[{if operateData.moduleData && operateData.actionData && operateData.operate['h030202'] && operateData.operate['h030202'].childOpt && operateData.operate['h030202'].childOpt['h03020202']}]_
                    <a href="javascript:;" class="blue" data-href='?m=xhr_id_95_109_view&id=$_[list.id]_&p=$_[platform]_'  data-title='商品管理-下线商品管理-查看'>查看</a>
                _[{/if}]_
            _[{else platform=='3'}]_
                _[{if operateData.moduleData && operateData.actionData && operateData.operate['h030203'] && operateData.operate['h030203'].childOpt && operateData.operate['h030203'].childOpt['h03020302']}]_
                        <a href="javascript:;" class="blue" data-href='?m=xhr_id_95_109_view&id=$_[list.id]_&p=$_[platform]_'  data-title='商品管理-下线商品管理-查看'>查看</a>
                _[{/if}]_
            _[{/if}]_
            
            </td>
        </tr>
    _[{/each}]_
_[{else}]_
    <tr><td colSpan='13'>暂无数据</td></tr>
_[{/if}]_

</script>

