.clear {
    clear: both;
}

.warpper {
    width: 100%;
    height: auto;
}

.login_header {
    width: 100%;
    height: 40px;
    background: #0d0537;
}

.login_header p {
    width: 1000px;
    margin: auto;
    line-height: 40px;
    font-size: 12px;
    background: #0d0537;
}

.login_header p a {
    color: #aebbcb;
}

.login_header p a:hover {
    color: #fff;
}

.help_center {
    float: right;
}

.login_personal {
    padding-left: 40px;
}

.login_header p span.login_hd_active a {
    color: #fff;
}

.login_nav_bg {
    opacity: 0.71;
    background: #030011;
    width: 100%;
    height: 100px;
    min-width: 1000px;
    position: absolute;
    left: 0px;
    top: 40px;
}

.login_nav {
    width: 1000px;
    margin: auto;
    opacity: 0.71;
    background: #030011;
}

.login_nav_left {
    float: left;
}

.login_nav_left p {
    padding-top: 35px;
}

.logo_hx {
    border-left: 1px solid #ffffff;
    width: 1px;
    height: 29px;
    display: inline-block;
    margin: 0px 15px;
}

.logo_text {
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 0px;
    line-height: 24px;
    text-align: left;
    position: relative;
    bottom: 7px;
}

.login_nav_right {
    float: right;
}

.login_nav_right ul li {
    float: left;
    font-size: 16px;
    line-height: 100px;
    width: 100px;
}

.login_nav_right ul li a {
    color: #ffffff;
}

.login_nav_right ul li a:hover {
    color: #4287f5;
}

.login_nav_right ul li.login_nav_active a {
    color: #4287f5;
}

.b_success_color {
    border: solid 1px #2b91e6;
}

.b_error_color {
    border: solid 1px red;
}

.login_hd {
    width: 100%;
    height: 500px;
    background: url(../images/ngp_banner.jpg) center no-repeat;
    min-width: 1000px;
}

.ngp_login_t {
    width: 1000px;
    margin: auto;
    position: relative;
}

.ngp_login_box_one {
    width: 320px;
    height: 292px;
    float: right;
    margin-top: 120px;
    padding-bottom: 20px;
    opacity: 0.7;
    background: #040113;
    box-shadow: -2px 5px 4px 0px rgba(0, 0, 0, 0.50);
}

.ngp_login_box_one h6 {
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    color: #cccccc;
    border-bottom: solid 1px #7e7e7e;
    text-align: center;
}

.ngp_login_box_one a {
    color: #fff;
}

.ngp_login_zc {
    border: 1px solid #979797;
    width: 278px;
    height: 38px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin: 45px 20px;
}

.ngp_login_btn {
    background: #0463fa;
    width: 278px;
    height: 38px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    margin: 45px 20px;
}

.ngp_login_box {
    width: 320px;
    float: right;
    margin-top: 120px;
    padding-bottom: 20px;
    box-shadow: -2px 5px 4px 0px rgba(0, 0, 0, 0.50);
    display: none;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#040113', endColorstr='#040113');
    background-color: rgba(4, 1, 19, 0.7);
}

.login_box {
    margin: 0px 19px;
    position: relative;
}

.ngp_login_hd {
    font-size: 16px;
    color: #fff;
    padding: 10px 0px;
    border-bottom: solid 1px #ccc;
    font-weight: 400;
    text-align: center;
}

.login_box p {
    margin-top: 20px;
    position: relative;
}

.login_box p.login_name_top {
    margin-top: 50px;
}

.login_name {
    width: 39px;
    height: 39px;
    background: url(../images/login_name.png) no-repeat;
    background-position: 1px 0px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.login_input {
    width: 230px;
    height: 38px;
    outline: none;
    padding-left: 50px;
    font-size: 14px;
    color: #333;
    background: #fff;
}


/*密码控件用*/

.ocx_style_one {
    width: 230px;
    height: 38px;
    outline: none;
    font-size: 14px;
    padding-left: 50px;
    color: #333;
    border: 1px solid #d8d8d8;
}

.ocx_style_two {
    width: 280px;
    height: 38px;
    outline: none;
    font-size: 14px;
    color: #333;
    border: 1px solid #d8d8d8;
    position: relative;
    top: 0px;
}

.ocx_style_two a {
    position: relative;
    top: 7px;
    left: -41px;
    color: #0190ff;
}

.login_pswd_img {
    position: absolute;
    top: 56px;
    left: 0px;
}

.login_bg {
    border: 1px solid #d8d8d8;
}

.login_input_c {
    font-size: 12px;
    color: #0190ff;
}

.login_safe {
    width: 39px;
    height: 39px;
    background: url(../images/login_name.png) no-repeat;
    background-position: -139px 0px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.login_psd {
    width: 39px;
    height: 39px;
    background: url(../images/login_name.png) no-repeat;
    background-position: -279px 0px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.login_pwd_y {
    display: none;
}

.login_yzm {
    width: 39px;
    height: 39px;
    background: url(../images/login_name.png) no-repeat;
    background-position: -559px 0px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.login_yzm_w {
    width: 114px;
    height: 38px;
    outline: none;
    padding-left: 50px;
    font-size: 14px;
    color: #333;
}

.login_yzm_box {
    width: 70px;
    height: 36px;
    display: inline-block;
    border: solid 2px #8c4614;
    position: absolute;
    top: 0px;
    right: 38px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #462bcd;
    letter-spacing: 5px;
    font-style: italic;
    text-shadow: #462bcd 5px 5px 5px;
}

.login_yzm_change {
    position: absolute;
    top: 12px;
    right: -4px;
    font-size: 12px;
    color: #0190ff;
    cursor: pointer;
}

.login_safe_c {
    display: none;
}

.login_pwd_f {
    display: -none;
}

.login_box h3 {
    background: #0190ff;
    width: 280px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    line-height: 40px;
    text-align: center;
    margin-top: 20px;
}

.login_box h6 {
    font-size: 12px;
    color: #018eff;
    cursor: pointer;
    margin-top: 10px;
}

.login_forget {
    float: right;
}

.login_del {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    cursor: pointer;
}

.login_yzm_del {
    position: absolute;
    right: 124px;
    top: 10px;
    display: none;
    cursor: pointer;
}

.login_error_tip {
    width: 282px;
    height: 32px;
    background: url(../images/login_name.png) no-repeat;
    background-position: -699px 0px;
    position: absolute;
    top: -32px;
    left: 0px;
    font-size: 12px;
    color: #ff0000;
    line-height: 32px;
    padding-left: 32px;
    display: none;
}

.plan_ct {
    width: 1000px;
    margin: auto;
}

.plan_text {
    font-size: 24px;
    color: #333;
    margin-top: 60px;
    text-align: center;
}

.plan_list {
    margin-top: 60px;
}

.plan_list ul li {
    float: left;
    width: 200px;
}

.plan_list ul li h6 {
    text-align: center;
}

.plan_list ul li h3 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
}

.plan_list ul li p {
    font-size: 16px;
    color: #666666;
    margin-top: 10px;
    text-align: center;
}

.plan_img_one {
    width: 116px;
    height: 116px;
    background: url(../images/plan.png) no-repeat;
    background-position: 0px 0px;
    display: inline-block;
}

.plan_img_two {
    width: 116px;
    height: 116px;
    background: url(../images/plan.png) no-repeat;
    background-position: -218px 0px;
    display: inline-block;
}

.plan_img_three {
    width: 116px;
    height: 116px;
    background: url(../images/plan.png) no-repeat;
    background-position: -432px 0px;
    display: inline-block;
}

.plan_img_four {
    width: 116px;
    height: 116px;
    background: url(../images/plan.png) no-repeat;
    background-position: -648px 0px;
    display: inline-block;
}

.plan_img_five {
    width: 116px;
    height: 116px;
    background: url(../images/plan.png) no-repeat;
    background-position: -866px 0px;
    display: inline-block;
}

.ngb_login_cooperation {
    margin-top: 100px;
    background: #f8f8f8;
    width: 100%;
    height: 438px;
    min-width: 1000px;
}

.cooperation {
    width: 480px;
    margin: auto;
    padding-top: 40px;
}

.cooperation ul li {
    float: left;
    font-size: 24px;
    color: #666;
    margin-left: 20px;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
}

.cooperation ul li.cooperation_ative {
    color: #333;
    height: 55px;
    background: url(../images/cooper.png) no-repeat center 45px;
}

.cooperation_list {
    width: 1000px;
    margin: auto;
    padding-top: 40px;
    display: none;
}

.cooperation_list ul li {
    float: left;
    border: 1px solid #e0e0e0;
    width: 204px;
    height: 59px;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #fff;
}

.cooperation_list ul li img {
    padding-top: 12px;
}

.cooperation_game ul li img {
    padding-top: 0px;
}

.login_footer {
    background: #0d0537;
    width: 100%;
    height: 220px;
    min-width: 1000px;
}

.login_footer_ct {
    width: 1000px;
    margin: auto;
    padding-top: 60px;
}

.login_footer_ct p {
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}


/*行业解决方案*/

.industry_box {
    width: 100%;
    height: 700px;
    background: url(../images/industry_banner.png) center no-repeat;
    min-width: 1000px;
}

.industry_ct_one {
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}

.industry_ct_one_l {
    float: left;
    width: 456px;
}

.industry_ct_one_l h2 {
    font-size: 40px;
    color: #333;
    font-weight: 400;
}

.industry_ct_one_l p {
    margin-top: 20px;
    font-size: 24px;
    color: #666;
    line-height: 45px;
}

.industry_ct_one_r {
    float: right;
}

.industry_ct_two {
    width: 100%;
    height: 480px;
    background-color: #f8f8f8;
    margin-top: 80px;
}

.industry_ct_two_box {
    width: 1000px;
    margin: auto;
}

.industry_ct_two_l {
    float: left;
    width: 315px;
    margin-top: 80px;
}

.industry_ct_two_r {
    float: right;
    width: 470px;
    margin-top: 80px;
}

.industry_ct_two_r h2 {
    font-size: 40px;
    color: #333;
    font-weight: 400;
}

.industry_ct_two_r p {
    margin-top: 20px;
    font-size: 24px;
    color: #666;
    line-height: 45px;
}

.industry_co {
    width: 1000px;
    margin: auto;
}

.industry_co p {
    text-align: center;
    font-size: 24px;
    color: #333;
    padding-top: 60px;
}


/*产品中心*/

.product_banner {
    width: 100%;
    height: 500px;
    background: url(../images/product_banner.png) center no-repeat;
    min-width: 1000px;
}

.product_box {
    width: 100%;
    position: relative;
}

.product_ct {
    width: 1000px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 0px 6px 0px #b7b7b7;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.product_hd {
    height: 64px;
    border-bottom: 1px solid #eee;
    line-height: 64px;
    font-size: 24px;
    color: #333;
    padding-left: 30px;
}

.product_list {}

.product_list ul li {
    float: left;
    width: 249px;
    height: 265px;
    border-right: 1px solid #eee;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}

.product_list ul li h3 {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    padding-top: 40px;
}

.product_list ul li p {
    font-size: 12px;
    color: #666;
    padding-top: 5px;
}

.product_sroll {
    width: 150px;
    height: 220px;
    position: absolute;
    top: 0px;
    right: 20px;
}

.product_sroll p span {
    border: 1px solid #4488f5;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    display: inline-block;
}

.product_sroll p em {
    font-size: 14px;
    color: #666;
    position: relative;
    left: 10px;
    bottom: 3px;
}

.product_sroll h6 {
    background: #498bf5;
    width: 1px;
    height: 40px;
    position: relative;
    left: 8px;
    bottom: 2px;
}

.sroll_ative {
    background: #4488f5;
}


/*帮助中心*/

.help_banner {
    width: 100%;
    height: 250px;
    background: url(../images/help_banner.png) center no-repeat;
    min-width: 1000px;
}

.help_ser {
    width: 500px;
    margin: auto;
    padding-top: 150px;
    font-size: 14px;
    color: #fff;
}

.help_ser p {
    position: relative;
}

.help_ser p span {
    position: absolute;
    right: 6px;
    bottom: 4px;
    cursor: pointer;
}

.help_ser h6 {
    margin-top: 5px;
}

.help_ser h6 em {
    padding-right: 8px;
    padding-left: 8px;
    border-right: solid 1px #fff;
}

.help_ser h6 em:nth-of-type(3) {
    border-right: none;
}

.help_ser h6 a {
    color: #fff;
}

.help_ser p input {
    width: 490px;
    height: 35px;
    outline: none;
    opacity: 0.5;
    background: #fff;
    padding-left: 10px;
    color: #000;
    border: solid 1px #fff;
}

.help_ct {
    width: 1000px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product_list ul li.helo_hx {
    border-right: none;
}

.help_ct_list {
    width: 1000px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.help_list_l {
    width: 249px;
    float: left;
    border-top: solid 1px #eee;
    border-left: solid 1px #eee;
}

.help_list_hd {
    text-align: center;
    border-bottom: solid 1px #eee;
    padding: 20px 0px 20px 0px;
    font-size: 16px;
    color: #333;
}

.help_list_hd img {
    position: relative;
    right: 8px;
    top: 3px;
}

.list {
    width: 250px;
    margin: 0px auto 0 auto;
}

.list ul li {
    border-bottom: solid 1px #eee;
}

.list ul li a {
    padding-left: 10px;
    color: #333;
    font-size: 14px;
    display: block;
    height: 40px;
    line-height: 40px;
    position: relative;
}

.list ul li .inactive {
    background: url(../images/help_down.png) no-repeat 225px 17px;
}

.list ul li .inactives {
    background: url(../images/help_up.png) no-repeat 225px 17px;
}

.list ul li ul {
    display: none;
}

.list ul li ul li {
    border-left: 0;
    border-right: 0;
    background-color: #f9f9f9;
}

.list ul li ul li ul {
    display: none;
}

.list ul li ul li a {
    padding-left: 20px;
}

.list ul li ul li a {
    background-color: #f9f9f9;
}

.list ul li ul li .hover {
    background-color: #4287f5;
    color: #fff;
}

.help_list_r {
    width: 748px;
    float: right;
    border: solid 1px #eee;
}

.list_r_hd {
    padding-top: 20px;
    padding-left: 40px;
}

.list_r_hd em {
    font-size: 20px;
    color: #333;
}

.list_r_hd span {
    float: right;
    font-size: 12px;
    color: #666;
    padding-right: 20px;
}

.list_r_text {
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 40px;
}

.list_r_text ul li {
    font-size: 14px;
    color: #333;
    padding-top: 20px;
    cursor: pointer;
}

.list_r_text ul li span {
    background: #bbbbbb;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    right: 10px;
    bottom: 2px;
}

.list_r_list {
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 20px;
    border-bottom: solid 1px #eee;
}

.list_r_list ul li {
    float: left;
    padding-bottom: 10px;
    font-size: 14px;
    color: #666;
    margin-right: 20px;
    cursor: pointer;
}

.list_r_list ul li.list_ative {
    border-bottom: solid 2px #4287f5;
    color: #333;
}

.list_r_t {
    display: none;
}

.list_r_ct .list_r_hds{
    border-bottom: solid 1px #eee;
    padding-bottom: 15px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.list_r_ct {
    margin: 20px 20px 20px 20px;
}

.list_r_ct h6 {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
    font-weight: 600;
    border-bottom: solid 1px #eee;
    padding-bottom: 10px;
}

.list_r_ct h5{
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 10px;
}

.list_r_ct p {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.list_r_ct h1 {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    margin-left: 20px;
    font-weight: 400;
}

.login_nav_bg_client {
    width: 100%;
    height: 100px;
    min-width: 1000px;
    background: url(../images/clientele_banner.png) no-repeat center;
}


/*联系客服*/

.clientele_one {
    width: 700px;
    margin: auto;
}

.clientele_two {
    width: 1000px;
    margin: auto;
    padding-bottom: 100px;
}

.clientele_two ul li {
    text-align: center;
    float: left;
    width: 320px;
}

.clientele_two ul li h3 {
    color: #000;
    font-size: 24px;
    margin-top: 25px;
    font-weight: 400;
    margin-bottom: 40px;
}

.clientele_two ul li p {
    font-size: 18px;
    color: #000;
    margin-top: 10px;
}

.clientele_two ul li h4 {
    border: solid 1px #3c85ea;
    border-radius: 3px;
    width: 128px;
    height: 34px;
    line-height: 36px;
    font-size: 18px;
    color: #3c85ea;
    margin: auto;
    margin-top: 60px;
}


/*搜索结果页*/

.help_serch {
    width: 100%;
}

.help_serch_ct {
    width: 1000px;
    margin: 20px auto 20px auto;
    background-color: #fff;
}

.help_serch_ct h6 {
    font-size: 14px;
    color: #333;
    padding: 10px 30px;
}

.help_serch_ct h6 img {
    position: relative;
    top: 2px;
    right: 5px;
}

.help_serch_ct p {
    font-size: 12px;
    color: #666;
    padding: 5px 10px 20px 10px;
    border-bottom: solid 1px #eee;
    margin: 0px 30px;
}

.help_serch_ct h5 {
    text-align: center;
    padding: 10px 0px;
    font-size: 14px;
    color: #333;
}

.help_serch_ct h5 span {
    position: relative;
    top: 2px;
    cursor: pointer;
}

.help_serch_ct h5 em {
    padding: 0px 10px;
}


/**/

.help_list_r div {
    display: none;
}


/*订阅支付*/
.subscribe_box {
    width: 100%;
    height: 460px;
    background: url(../images/s_pay_baner.png) center no-repeat;
    min-width: 1000px;
}
.subscribe_ct{
    width: 1000px;
    margin: auto;
}
.subscribe_ct_one{
    margin-top: 40px;
}
.subscribe_ct_one >p{
    font-size: 30px;
    color: #333;
    text-align: center;
}
.subscribe_ct_one ul li{
    float: left;
    width: 33.33%;
    margin-top: 40px;
}
.subscribe_ct_one ul li p{
    text-align: center;
}
.subscribe_ct_one ul li h3{
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    font-weight: 400;
}
.subscribe_ct_one ul li h6{
    font-size: 12px;
    color: #666;
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
}
.subscribe_hx{
    border-bottom: solid 1px #eee;
    margin-top: 60px;
    margin-bottom: 60px;
}

.subscribe_ct_two >p{
    font-size: 30px;
    color: #333;
    text-align: center;
}
.subscribe_ct_two ul li{
    margin-top: 40px;
    float: left;
    width: 20%;
    position: relative;
}
.subscribe_ct_two ul li p{
    text-align: center;
}
.subscribe_ct_two ul li h6{
    position: absolute;
    top: 55px;
    left: 62px;
}
.subscribe_ct_two ul li h3{
    position: absolute;
    top: 170px;
    left: 70px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
.subscribe_ct_threee{
    padding-bottom: 80px;
}
.subscribe_ct_threee >p{
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}
.subscribe_ct_threee ul li{
    float: left;
    width: 33%;
    text-align: center;
    padding-top: 50px;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
}
.subscribe_ct_threee ul li p{
    color: #333;
    margin-top: 10px;
    margin-bottom: 40px;
}
.subscribe_ct_threee ul li:nth-of-type(3){
    border-right:none;
}
.subscribe_ct_threee ul li:nth-of-type(6){
    border-right:none;
    border-bottom:none;
}

.subscribe_ct_threee ul li:nth-of-type(4){
    border-bottom:none;
}
.subscribe_ct_threee ul li:nth-of-type(5){
    border-bottom:none;
}
.sub_nav{
    width: 100px;
    height: 30px;
    line-height: 30px;
    opacity: 0.8;
    background: #030011;
    text-align: center;
    font-size: 14px;
    display: none;
    cursor: pointer;
}
.login_nav_right ul li p.sub_nav a{
    color: #fff;
}
.login_nav_right ul li p.sub_nav a:hover{
    color: #4287F5;
}

/*云钱包*/
.cloud_box {
    width: 100%;
    height: 460px;
    background: url(../images/c_banner.png) center no-repeat;
    min-width: 1000px;
}
.cloud_ct{
    width: 1000px;
    margin: auto;
}
.cloud_ct_one{
    margin-top: 40px;
}
.cloud_ct_one >p,.cloud_ct_two >p,.cloud_ct_three >p,.cloud_ct_four >p{
    font-size: 30px;
    color: #333;
    text-align: center;
}
.cloud_ct_one ul li{
    float: left;
    width: 20%;
    margin-top: 40px;
}
.cloud_ct_one ul li p{
    text-align: center;
}
.cloud_ct_one ul li h3{
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    font-weight: 400;
}
.cloud_ct_one ul li h6{
    font-size: 12px;
    color: #666;
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
}

.cloud_ct_two_l{
    float: left;
    margin-top: 40px;
    margin-left: 30px;
}
.cloud_ct_two_r{
    float: left;
    margin-top: 10px;
    margin-left: 90px;
}
.cloud_ct_two_r h6{
    font-size: 18px;
    color: #333;
    margin-top: 30px;
}
.cloud_ct_two_r p{
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}

.cloud_ct_three ul li{
    float: left;
    width: 33.33%;
    margin-top: 40px;
}
.cloud_ct_three ul li p{
    text-align: center;
}
.cloud_ct_three ul li h3{
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    font-weight: 400;
}
.cloud_ct_three ul li h6{
    font-size: 12px;
    color: #666;
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
}


.cloud_ct_four{
    padding-bottom:80px;
}

.cloud_ct_four ul li{
    float: left;
    width: 33.33%;
    margin-top: 40px;
}
.cloud_ct_four ul li p{
    text-align: center;
}
.cloud_ct_four ul li h3{
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    font-weight: 400;
}
.cloud_ct_four ul li h6{
    font-size: 12px;
    color: #666;
    margin-top: 10px;
    font-weight: 400;
    text-align: center;
}
















