<!-- conts begin -->
<div class="contsBox">
    <div class="details orderSerch">
        <div class="singleSearch">
            <dl>
                <dt>用户名：</dt>
                <dd>
                    <input type="text" class="input mR10 fL w190" name="userName" />
                    <a href="javascript:;" class="button js-search"> Search</a>
                </dd>
            </dl>
        </div>
        <p class="searchMes none">符合您的搜索条件的有<span class="searchNum">0</span>个</p>
        <div class="result none">            
            <div class="searchMain"></div>
            <div class="btnMain none">
                <a class="button mR30 js-selectOk" href="javascript:;">确认选择</a>
            </div>
        </div>
    </div>
    <div class="details productList pB120 none">
        <form id="orderForm">
            <h3 class="titleText"><div class="sellName none fL">卖家：<em data-id=""></em></div><a href="javascript:;" class="blue fR js-add">+&nbsp;新增服务</a></h3>
            <div class="addOrder">
                <table class="" border="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th class="tL" width="20%">产品服务</th>
                        <th>价格（元）</th>
                        <th>数量</th>
                        <th>优惠</th>
                        <th>赠品</th>
                        <th>金额</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="summary">
                    <p>
                        合计金额：<span class="red totalAmount">￥0.00</span>
                    </p>
                    <!--<a href="javascript:;" class="button fR js-submit">提交订单</a>-->
                    <a href="javascript:;" class="greybutton fR js-submit">提交订单</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- conts end -->
                    