<!-- conts begin -->
<div class="contsBox">
    <form id='searchForm'>
        <!-- serch begin -->
        <div class="serch_main fix">
            <div class="serch_conts">
                <dl>
                    <dt>订单号 :</dt>
                    <dd>
                        <input type="text" name="orderId" class="defaultInput">
                    </dd>
                </dl>
                <dl>
                    <dt>购买用户 :</dt>
                    <dd>
                        <input type="text" name="userName" class="defaultInput">
                    </dd>
                </dl>
                <dl>
                    <dt>产品服务 :</dt>
                    <dd>
                        <input type="text" name="productNames" class="defaultInput">
                    </dd>
                </dl>
            </div>
            <div class="serch_conts">
                <dl>
                    <dt>购买时间 :</dt>
                    <dd>
                        <div class="defaultData">
                            <div class="dataBegin">
                                <span class="dataInput" id="startTime" data-startime="createTime_start"></span>
                                <a href="javascript:;" class="timeStart icon-54"></a>
                            </div>
                            <span class="point"></span>

                            <div class="dataEnd">
                                <span class="dataInput" id="endTime" data-endtime="createTime_end"></span>
                                <a href="javascript:;" class="timeEnd icon-54"></a>
                            </div>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt> </dt>
                    <dd>
                        {{if source.operateData.moduleData && source.operateData.actionData &&
                        source.operateData.operate['h05060001']}}
                        <a href="javascript:;" class="button js-search">Search</a>
                        {{/if}}
                    </dd>
                </dl>
            </div>
        </div>
        <!-- serch end-->
    </form>
    <div class="addbutton">
        {{if source.operateData.moduleData && source.operateData.actionData && source.operateData.operate['h05060004']}}
        <a href="javascript:;" class="button" data-title="财务管理-服务购买管理-购买" data-href="?m=xhr_id_173_190_add">新增购买</a>
        {{/if}}
        <em class="mL50 none">您所搜索的，共有<i id="searchTotalCount">${source.totalCount}</i>条内容符合。</em>
    </div>
    <!-- serch end -->

    <div class="bigTable">
        <table class="layout" border="0" cellspacing="0">
            <thead>
            <tr>
                <th width="20%">订单号</th>
                <th>购买用户</th>
                <th>产品服务</th>
                <th>金额（元）</th>
                <th>购买时间</th>
                <th>订单来源</th>
                <th>付款状态</th>
                <th>开通状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="listCon">

            </tbody>
        </table>
    </div>

    <div class="page" id="topPager">

    </div>
</div>
<!-- conts end -->
<!-- 分页模板 -->
<script id='pageListCon' type='text/x-jquery-tmpl'>
	<a href="javascript:;" class="firstPage fL" data-displace="first">首页</a>
	<a href="javascript:;" class="prve fL icon-56" data-displace="prev"></a>
	<ul class="pagenumber" id="pager"></ul>
	<a href="javascript:;" class="next fL icon-55" data-displace="next"></a>
	<a href="javascript:;" class="lastPage" data-displace="last">尾页</a>

</script>
<script id="list" type="text/x-jquery-tmpl">
_[{if orderList && orderList.length}]_
	_[{each(i,c) orderList}]_
	<tr>
		<td>
            <!--Todo 缺少权限-->
			_[{if c.orderStatus == "未付款"}]_
				<a href="javascript:;" class="blue" data-title="财务管理-服务购买管理-购买订单详情" data-href="?m=xhr_id_173_190_status&id=$_[c.orderId]_" >$_[c.orderNum]_</a>
			_[{else}]_
				<a href="javascript:;" class="blue" data-title="财务管理-服务购买管理-查看" data-href="?m=xhr_id_173_190_status&id=$_[c.orderId]_" >$_[c.orderNum]_</a>
			 _[{/if}]_
		</td>
		<td>$_[c.userName]_</td>		
		<td>
            <!--Todo 缺少权限-->
            _[{each(ii,cc) c.productNames}]_
                <a href="javascript:;" class="blue" data-title="财务管理-服务购买管理-服务信息" data-href="?m=xhr_id_173_190_serve&name=$_[escape(cc)]_"><p>$_[cc]_</p></a>
            _[{/each}]_
            </td>
		
		<td>$_[c.amount]_</td>
		<td>$_[c.shoppingTime]_</td>
		<td>$_[c.orderSource]_</td>
		<td>_[{if c.orderStatus=='0'}]_未付款_[{else c.orderStatus=='1'}]_已付款_[{else c.orderStatus=='2'}]_已取消_[{/if}]_</td>
		<td>$_[c.openStatus]_</td>
		<td>
			 _[{if c.orderStatus == "未付款"}]_
                _[{if operateData.moduleData && operateData.actionData && operateData.operate['h05060003']}]_
				<a href="javascript:;" class="blue js-pay" index-id="$_[c.orderId]_">标记付款</a>
                _[{/if}]_
			_[{else}]_
                <!--Todo 缺少权限-->
				<a href="javascript:;" class="blue" data-title="财务管理-服务购买管理-查看" data-href="?m=xhr_id_173_190_status&id=$_[c.orderId]_" >查看</a>
			 _[{/if}]_
		</td>
	</tr>
	_[{/each}]_
_[{else}]_
<tr><td colSpan="9">暂无数据</td></tr>
_[{/if}]_
</script>
                