<!--中间内容区域 begin-->
<div class="details">
    <div class="state">
        <p>服务名称：<span>${source.serviceName}</span></p>
    </div>
</div>
<div class="details">
    <h3 class="titleText">服务信息</h3>
    <div class="merge mB10 mT10">
        <dl class="">
            <dt class="w80">价格：</dt>
            <dd>
                ${source.price}
            </dd>
        </dl>
        <dl>
            <dt class="w80">销售单位：</dt>
            <dd>
                ${source.unit}
            </dd>
        </dl>
        <dl>
            <dt class="w80">
                服务介绍：
            </dt>
            <dd class="mL80">
                ${source.introduction}
            </dd>
        </dl>
    </div>
</div>
<div class="btnMain">
    <a href="javascript:history.go(-1);" class="button" sdata-href="?m=xhr_id_173_190" data-title="财务管理-服务购买管理">返回</a>
</div>
<!--中间内容区域 end-->
                    