<!--中间内容区域 begin-->
<div class="">
    <div class="details">
        <div class="state">
            <p>
            {{if source.payStatus == 0}}
                账单状态：<span>未付款</span>
                <a href="javascript:;" class="blue mL50 f14 js-pay" index-id="${source.orderId}">标记已付款</a>
                {{else source.payStatus == 1}}
                账单状态：<span>已付款</span>
                {{else source.payStatus == 2}}
                账单状态：<span>已取消</span>
            {{/if}}
            </p>
        </div>
    </div>
    <div class="details fix">
        <h3 class="titleText">订单信息</h3>
        <div class="pT10 billDetails">
            <div class="details_L">
                <dl>
                    <dt>订单号：</dt>
                    <dd>${source.orderNum}</dd>
                </dl>
                <dl>
                    <dt>购买用户：</dt>
                    <dd>${source.userName}</dd>
                </dl>
            </div>
            <div class="details_R">
                <dl>
                    <dt>订单金额：</dt>
                    <dd>${source.orderAmount}</dd>
                </dl>
                <dl>
                    <dt>下单时间：</dt>
                    <dd id="makeOrderTime">${source.createTime}</dd>
                </dl>
            </div>
        </div>
        <div class="merge">
            <dl class="">
                <dt class="w140">订单留言：</dt>
                <dd class="mL140">
                    ${source.orderRemark}
                </dd>
            </dl>
        </div>
    </div>
    {{if source.payStatus == 1}}
    <div class="details">
        <h3 class="titleText">付款信息</h3>
        <div class="pT10 otherConts billDetails">
            <div class="details_L">
                <dl>
                    <dt>实付金额：</dt>
                    <dd>${source.payAmount}</dd>
                </dl>
                <dl>
                    <dt>付款时间：</dt>
                    <dd>${source.payTime}</dd>
                </dl>
            </div>
            <div class="details_R">
                <dl>
                    <dt>付款方式：</dt>
                    <dd>${source.payType}</dd>
                </dl>
                <dl>
                    <dt>交易流水号：</dt>
                    <dd>${source.tranCode}</dd>
                </dl>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="details overflow">
        <h3 class="titleText">产品服务信息</h3>
        <div class="smallTable">
            <table class="" border="0" cellspacing="0">
                <thead>
                <tr>
                    <th>购买服务</th>
                    <th>价格（元）</th>
                    <th>数量</th>
                    <th>优惠金额</th>
                    <th>赠品</th>
                    <th>金额合计</th>
                    <th>开通状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {{each(i,c) source.orderProductList}}
                    <tr>
                        <td>${c.productName}</td>
                        <td>${c.productPrice}</td>
                        <td>${c.productCount}</td>
                        <td class="favorableValue">${c.discount || '0'}</td>
                        <td class="gift">${c.giftProduct}</td>
                        <td>${c.totalPrice}</td>
                        <td>{{if c.openStatus==0}}未开通{{else}}已开通{{/if}}</td>
                        <td>
                        {{if source.payStatus==2 || c.openStatus == 1}}
                            <a href="javaScript:;" class="blue js-view" index-id="${source.orderId}">查看</a>
                        {{else}}
                            <a href="javaScript:;" class="blue js-open" index-id="${c.id}">开通</a>
                        {{/if}}
                        
                        <input type="hidden" name="openStatus" value="{{if c.openStatus==0}}未开通{{else}}已开通{{/if}}">
                        <input type="hidden" name="openBy" value="${c.openBy}">
                        <input type="hidden" name="openComment" value="${c.openComment}">
                        <input type="hidden" name="openTime" value="${c.openTime}">
                        </td>
                    </tr>
                {{/each}}   
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--中间内容区域 end-->
<div class="btnMain">
    <a class="button" href="javascript:history.go(-1);" data-title="财务管理-服务购买管理" sdata-href="?m=xhr_id_173_190" >返回</a>
</div>                    
